[2018-01-30 15:30] abusi opened #2 "Try and evaluate fossa.io for license stuff."

[2018-04-23 15:46] achedeuzot opened #15 "(Introspection) Implement the `__type` Field"
As seen on the roadmap: https://github.com/dailymotion/tartiflette

[2018-04-23 15:47] achedeuzot opened #16 "(Introspection) Implement the `__schema` Field."
As see in the Roadmap https://github.com/dailymotion/tartiflette

[2018-04-23 15:55] abusi opened #17 "(Executor) Typing resolver outputs"

[2018-04-24 10:10] tsunammis opened #19 "(API) Engine & Resolver"
As see in the Roadmap https://github.com/dailymotion/tartiflette

[2018-04-25 08:03] abusi opened #21 "Bug Argument Parsing."
Argument and vars in requests are broken.

[2018-04-25 13:38] #21 closed

[2018-06-13 15:11] achedeuzot opened #28 "(Directives) Parse Directive definitions in SDL schema"

[2018-07-09 13:51] #15 closed

[2018-07-09 13:51] #16 closed

[2018-07-09 13:51] #17 closed

[2018-07-11 23:42] syrusakbary opened #32 "Miscellaneous Questions"
First of all, I'm impressed by the amount of effort and code quality this project has. So congrats to all team that has worked towards that 👏

After setting up the project locally and trying it, I think there are some things that Graphene and GraphQL-core can learn from it, especially regarding Developer Experience generating the schema from SDL.

## Questions
However, I have some questions that I

[2018-07-19 07:39] tsunammis commented on #32
Hi syrus :)

Thanks for the testing & feedback. Here are some answers to some of the questions and miscellaneous remarks.

First off, please bear in mind that the current implementation is still under heavy development: many things are expected to change in the coming weeks as we're still exploring and trying out various options. Benchmarking the framework now has little meaning as pretty much eve

[2018-07-26 13:22] achedeuzot opened #34 "Update the Lark grammar parser and engine"

[2018-07-30 12:35] #34 closed

[2018-07-30 12:36] achedeuzot commented on #32
Closing this for now.

[2018-07-30 12:36] #32 closed

[2018-07-30 12:37] achedeuzot opened #35 "(Directives) Prototyping directives"

[2018-10-01 07:57] #28 closed

[2018-10-01 07:57] #35 closed

[2018-10-01 08:00] abusi opened #47 "(Schema) Dissociate schema from Decoractors (Resolver, Directive, Scalar)"
Enables Decorators (Resolver, Directive, Scalar) to miss schama object at instaciation.
Simply pass schema name, have a registry en memorize them.
And at schama.bake time, compute everythings.

[2018-10-01 08:09] abusi opened #48 "(Execution) Mutations"
Implement mutation execution.

[2018-10-01 15:52] #47 closed

[2018-10-10 18:25] piotr-yuxuan opened #51 "Low-hanging fruits"
Hello, thanks for this amazing project 👋 Would you mind spot some simple, easy bugs for new-comers to ramp up with them?

[2018-10-19 09:00] tsunammis commented on #51
@piotr-yuxuan Hello! Sorry for the delay, I was off for holidays.
Thus, we didn't list bug yet to helping people to ramp up with the library. We will work on it next week!
Thank you!

[2018-10-25 13:01] abusi commented on #48
Fixed by #56

[2018-10-25 13:01] #48 closed

[2019-01-11 06:18] tsunammis commented on #2
We will do it with another tool, internally.

[2019-01-11 06:18] #2 closed

[2019-01-11 06:19] #19 closed

[2019-01-11 09:56] Maximilien-R opened #70 "Nested nodes on fragment aren't resolved"
Nested nodes on fragment aren't resolved. For instance, on this query, `owner` node on `RepositoryFields` fragment will returns `{}`:

[code]

The issue is located here:
https://github.com/dailymotion/tartiflette/blob/0df0e32dfb2d73581918e0359a853e19802c7b28/tartiflette/parser/nodes/field.py#L63-L67

When we get into a `Fragment`, we set the `type_condition` attribute for all its nodes to the valu

[2019-01-11 10:16] Maximilien-R opened #71 "Mishandled GraphQL syntax error"
When a GraphQL syntax error occur, the GraphQL engine throw an exception returned by the parser but something seems to be not properly handled since all subsequent queries are failing too (even if valid).

Error seems to be located here:
https://github.com/dailymotion/tartiflette/blob/0df0e32dfb2d73581918e0359a853e19802c7b28/tartiflette/parser/cffi/__init__.py#L582-L588

[2019-01-14 15:43] #70 closed

[2019-01-14 16:14] Maximilien-R opened #76 "Invalid path/type on unknown nodes"
When requesting unknown fields on a GraphQL query, the `path` contained on errors doesn't seems to be properly re-calculated. Also, the type from the error message is invalid too:
[code]

Query example:
[code]

Result:
[code]

The result is different depending on using fragment or not.

[2019-01-14 16:24] #71 closed

[2019-01-15 08:16] Maximilien-R opened #79 "Fragment with undefined target type doesn't raise any error"
A GraphQL request containing a fragment with an undefined target type doesn't raise any error:

[code]

[code]

[2019-01-15 08:18] Maximilien-R opened #80 "Unused fragment doesn't raise any error"
A GraphQL request containing an unused fragment doesn't raise any error (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Fragments-Must-Be-Used)):

[code]

[code]

[2019-01-15 11:01] Maximilien-R opened #82 "Using undefined fragment doesn't raise any error"
A GraphQL request containing an undefined fragment doesn't raise any error:

[code]

[code]

[2019-01-15 11:18] #79 closed

[2019-01-15 13:58] #80 closed

[2019-01-15 14:12] #82 closed

[2019-01-15 15:12] Maximilien-R opened #85 "Non-unique named operation definition doesn't raise any error"
A GraphQL request containing non-unique named operation definition doesn't raise any error:
[code]

[code]

[code]

[2019-01-15 15:15] Maximilien-R opened #86 "Multiple anonymous operation doesn't raise any error"
A GraphQL request containing multiple anonymous operation doesn't raise any error (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Lone-Anonymous-Operation)):
[code]

[code]

[2019-01-15 15:26] Maximilien-R opened #87 "Subscription operations with multiple root field doesn't raise any error"
A GraphQL request containing non-unique named operation definition doesn't raise any error (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Single-root-field)):
[code]
Following requests should raise an error:
[code]

[code]

[code]

[2019-01-17 10:29] tsunammis opened #92 ""official" Introspection Query doesn't work"
It seems that the [official introspection Query](https://github.com/graphql/graphql-js/blob/master/src/utilities/introspectionQuery.js#L18) doesn't work. Thus, we can't use the full potential of tools which use it to provide auto-completion, like insomnia, graphiql etc...

* **Tartiflette version:** 0.3.2
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous

[2019-01-17 11:14] #87 closed

[2019-01-17 11:18] abusi commented on #92
Thanks.
This is Highlighting 3 problems on Tartiflette :
  - Fragment order matters for us, but it shouldn't
  - `fields` doesn't works on `__schema.types` BUT works on `__type(name: x)`
  - Missing inputFields, interfaces, possibleTypes are missing in introspection implementation.

I'll corrects these ASAP (between now and later :) :) ) :-p

[2019-01-17 14:55] tsunammis commented on #92
So precise, I like it !

[2019-01-18 11:43] Maximilien-R opened #94 "Redefining directives, scalars or resolvers doesn't raise any error"
Decorating multiple time the same directives, scalars or resolvers name doesn't raise any error.

* **Tartiflette version:** 0.3.2
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

[code]

[code]

This should raise an error since have multiple resolvers for the same node could lead to mistakes (since the resolver used during query executio

[2019-01-21 08:42] Maximilien-R opened #97 "Undefined arguments on nodes or directives doesn't raise any error"
A GraphQL request containing undefined arguments on nodes or directives doesn't raise any error (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Argument-Names)):

* **Tartiflette version:** 0.3.2
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL Schema:
[code]

Following queries should raise errors:
[code]

[code]

[2019-01-21 14:30] Maximilien-R opened #99 "Not unique argument on same node / directive doesn't raise any error"
A GraphQL request containing multiple times the same argument on a node or directive doesn't raise any error (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Argument-Uniqueness)):

* **Tartiflette version:** 0.3.2
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL Schema:
[code]

Following queries should raise error

[2019-01-21 15:18] Maximilien-R opened #101 "Missing required argument doesn't raise any error"
A GraphQL request where there is missing required arguments on nodes or directives doesn't raise any error (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Required-Arguments)):

* **Tartiflette version:** 0.3.2
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL Schema:
[code]

Following queries should raise errors:

[2019-01-22 13:28] #92 closed, assigned to abusi

[2019-01-22 14:21] #97 closed

[2019-01-23 11:04] Maximilien-R opened #103 "Enum values aren't processed"
Enum values aren't processed and not available through the `args` parameter on resolver functions.

* **Tartiflette version:** 0.3.2
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL Schema:
[code]

Resolver:
[code]

Following query:
[code]

Should be equal too:
[code]

Also, `args` parameter (on `dog_does_know_command_resolver`) shoul

[2019-01-23 11:33] #103 closed

[2019-01-24 11:34] Maximilien-R opened #105 "Fragment spread processing isn't handled properly"

[2019-01-24 16:48] #105 closed

[2019-01-25 12:31] #101 closed

[2019-01-29 06:49] tsunammis opened #108 "Unable to load a directory which contains a list of SDL files"
Hello,

The engine should be able to load the SDL from 4 ways.
* Directly from a string
* From a list of files
* From a list of directories
* From a tartiflette.Schema object

[As specified in the API](https://github.com/dailymotion/tartiflette/blob/master/docs/API.md).

If I try to load the SDL from a directory, I get an exception.

* **Tartiflette version:** 0.3.4
* **Python version:** 3.7.1
* *

[2019-01-29 07:02] abusi commented on #108
Hum, strange, i'll look into it. Thanks for the bug report.

[2019-01-29 08:50] Maximilien-R commented on #108
Hi @tsunammis,

As specified in the documentation, when the SDL parameter refers to a directory path, only files with an `.sdl` extension are read. According to your example, your `./sdl` directory only contains a `default.gql` file which doesn't have the appropriate extension (which means that it's not read and your types aren't recognized by the Tartiflette engine).

Currently, `.sdl` is the onl

[2019-01-29 18:03] tsunammis commented on #108
@abusi  @Maximilien-R Thanks.

We will have to support the most common extension, [`.graphql`](https://github.com/facebook/graphql/issues/203)

Good idea 👍

[2019-01-29 20:43] tsunammis opened #109 "The engine should raise a syntax error when a complex type is specified instead of one or more of his leaves"
The engine doesn't raise an error when a complex type is specified as a leaf. We can't have a complex type used as a leaf.

e.g

[code]

This following query returns a dict for the location property instead of a *syntax error*.

[code]

returns

[code]

* **Tartiflette version:** 0.3.4
* **Python version:** 3.7.1
* **Executed in docker:** No
* **GraphQL Schema & Query:** c.f above
* **Is a regress

[2019-01-29 22:38] abusi commented on #109
Hum, i'll look at the spec, to found the correct error to raise here. But I think it's pretty logic, you ask for an object whithout asking for a field you get an empty shell ;). Clearly here you have the default value of a non explored object. It should be prettt straight forward to detect during parsing.

If you're out of a field without child and you're not a leaf -> error.

[2019-01-30 08:02] abusi commented on #109
for reference : https://facebook.github.io/graphql/June2018/#sec-Leaf-Field-Selections

[2019-01-30 15:08] #108 closed

[2019-01-30 16:54] #109 closed

[2019-01-30 23:42] tsunammis opened #113 "Subscription: How to implement it?"
The idea is to think about the implementation of the `subscription` feature.

## Reading

* [From zero to subscription](https://hackernoon.com/from-zero-to-graphql-subscriptions-416b9e0284f3)
* [SPECIFICATION: subscription operation](https://facebook.github.io/graphql/June2018/#sec-Subscription-Operation-Definitions)
* [Apollo Subscription](https://github.com/apollographql/graphql-subscriptions)

[2019-01-30 23:43] tsunammis commented on #113
@Maximilien-R The idea above is not exhaustive. Some details to start the debate.

[2019-02-05 14:44] #99 closed

[2019-02-05 17:07] Maximilien-R opened #114 "Should execute only the specified operation"
A GraphQL request containing multiple operation definition shouldn't execute all of them but only the one specified (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#ExecuteRequest())):

* **Tartiflette version:** 0.3.6
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL Schema:
[code]

Following queries:
[code]
Should res

[2019-02-05 20:55] stevenheidel opened #116 "Question: Status of project"
Hi, this is just a question so feel free to close the issue after answering.

How is tartiflette being used at dailymotion curently? Looking at the roadmap: https://github.com/dailymotion/tartiflette#roadmap---road-to-v1 it seems like this project is very close to a v1 release. Is that accurate?

I'm considering whether to use tartiflette for a new project or stick with graphene.

[2019-02-05 21:21] tsunammis commented on #116
Hello @stevenheidel

We are moving fast with **Tartiflette**, and we plan to release it in production next week in a small amount of our traffic _(millions request per hours)_.

The only feature we don't have in this current version is the `subscription` one. [We are working on it, separately](https://github.com/dailymotion/tartiflette/issues/113).

Are you interested in specific features?

We are

[2019-02-06 11:11] Maximilien-R opened #117 "Top‐level mutation selection set should be executed serially"
Top‐level mutation selection set should be executed serially (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Mutation)). More information about normal & serial execution [here](https://facebook.github.io/graphql/June2018/#sec-Normal-and-Serial-Execution).

Actually, all top-level selection set are parallelized.

* **Tartiflette version:** 0.3.6
* **Python version:** 3.6.1
* **

[2019-02-06 12:55] #114 closed

[2019-02-06 13:49] #117 closed

[2019-02-06 13:52] Maximilien-R opened #119 "The `execute` method doesn't allow to have an `initial_value`"
The `execute` method should have an optional `initial_value` parameter (cf. [GraphQL spec](https://facebook.github.io/graphql/June2018/#sec-Execution).

* **Tartiflette version:** 0.3.6
* **Python version:** 3.6.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

[2019-02-06 16:41] #119 closed

[2019-02-06 18:36] stevenheidel commented on #116
Awesome thanks! Millions request / hours is more than my app will see in a long time so it seems like we're good to go.

The main reasons I'm considering tartiflette are:
- First class asyncio support
- Difficulties explaining Graphene to colleagues. I built a sizable app with Graphene-Python and it has a long onboarding time due to the amount of "magic" needed to understand how Graphene maps sche

[2019-02-07 19:48] tsunammis commented on #116
@stevenheidel we are currently focused on:
* The developer experience
* Be fully compliant with the specification

Your feedbacks are precious, do not hesitate if you have any questions.

[2019-02-10 00:52] achedeuzot commented on #116
@stevenheidel The magic of `Resolver`s added implicitly to the schema registry is a design decision for a better developer experience. If we wanted to be explicit, we would need to have more boilerplate and we would have to pass around a `SchemaRegistry`-like instance to every `Resolver` which isn't very convenient. We're happy to have your input on it though as having external feedback is very us

[2019-02-11 10:27] abusi commented on #116
Considering this has answered :). @stevenheidel feel free to report back any bugs, unsupported features and any others improvement you find/need.
Happy to have other people using it :).

[2019-02-11 10:27] #116 closed

[2019-02-12 11:19] Maximilien-R opened #121 "Improve query parsing and validation"
It might be interesting to change the way queries are parsed and validated.

Currently we use the `libgraphqlparser` to browse the nodes of the query using callback functions that are called each time the parser encounters a new node in the document. At each node encountered the callback function generates a `VisitorElement` object which is then passed when calling the `update` method of the `Visi

[2019-02-12 13:54] Maximilien-R opened #122 "Improve type resolving"
Since `tartiflette` allow us to deal only with `dict`. Resolving the `__typename` field for an `UnionType` is difficult and is delegate to the `Resolver` implementation which need to return the `__typename` in the resolved value.

Maybe we could add an optional `resolve_type` argument to the `Resolver` decorator which could take a callable in charge of determining the `__typename` to return for th

[2019-02-25 14:52] #113 closed

[2019-02-26 14:20] tsunammis opened #126 "(Execution) unable to return "null" on nullable field"
Hello,

It seems that if a client request a node wchich is nullable, if the resoler ties to the field return None, the engine will return the leaf set at null instead of null for the entire object.

## Schema
[code]

## Query
[code]

## Response

[code]

I expect this response

[code]

* **Tartiflette version:** 0.4.0
* **Python version:** 3.7.1
* **Executed in docker:** No

[2019-02-26 16:34] tsunammis opened #127 "(SDL / Execution) Handle "input" type for mutation"
Hello,

As specified in the specification, we have to use the type `input` type for complex inputs in mutation, instead of using the regular Object type which can contain interface, union or arguments.

## What we should do

[code]

instead of
[code]

Request sample
[code]

* **Tartiflette version:** 0.4.0
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous

[2019-02-27 11:43] Maximilien-R opened #128 "Subscription without dedicated resolver returns `null`"
When using subscriptions without a dedicated resolver the result is always `null`.

* **Tartiflette version:** 0.4.0
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL Schema:
[code]

Following queries:
[code]

With:
[code]

Result to an error because `countdown` is `null`.

[2019-02-27 17:16] #128 closed

[2019-03-01 14:36] #126 closed

[2019-03-01 14:51] tsunammis opened #132 "(Execution) Return valid GraphQL error when @Subscription("Subscription.myField") raises an error"
Hello,

During the execution of a Subscription, if an error is raised. The client is not notified.

## SDL
[code]

## Resolver
[code]

## Stacktrace

[code]
* **Tartiflette version:** 0.4.1
* **Tartiflette aiohttp:** 0.3.1
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

[2019-03-01 16:27] Maximilien-R opened #133 "Directives on argument raise exception"
Applying directives on arguments raise an exception.

* **Tartiflette version:** 0.4.0
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Result in:
[code]

[2019-03-01 16:33] Maximilien-R opened #134 "Schema and Operations directives"
Directives on schema doesn't seems to be executed.

* **Tartiflette version:** 0.4.0
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Directive:
[code]

When querying, the log is never triggered.

[2019-03-04 16:22] #127 closed

[2019-03-05 08:27] #133 closed

[2019-03-05 09:26] tsunammis opened #137 "(Directive API) remove `_` as a argument prefix"
The Directive API exposes 4 methods:
* `on_field_execution`
* `on_argument_execution`
* `on_introspection`
* `on_build`

Some method's parameters are prefixed with an underscore, with the aim of avoiding the pylint unused warning.

In the Python community, a single underscore in front of a variable name (prefix) is a hint that a variable is meant for internal use only.

In our case, we want to pro

[2019-03-05 09:55] #137 closed

[2019-03-05 14:30] Maximilien-R opened #139 "Handle multiple exceptions"
In some cases, it may be relevant to not only raise the first exception encountered and allow multiple exceptions to be handled at one time.

In the case of directives and in particular `on_argument_execution` the fact of handling several errors could be interesting:

[code]

Currently, if the directives for these two arguments raise an exception, only the first raised exception will be returned a

[2019-03-05 14:34] Maximilien-R opened #140 "Enhance customization imports"
Currently, to be able to use custom scalar / directive / resolver & subscription, we need to manually import those elements at the same level as the engine initialization.

This is not very practical and forces to make imports that are not used.

Shouldn't we provide an API at engine initialization time that would take a module list to dynamically import ?

[2019-03-05 14:59] tsunammis commented on #140
I'm wondering if we shouldn't automatically load some modules, like:
* `resolvers`
* `directives`
* `mutations`
* `subscriptions`

What do you think?

I remembered that @abusi wanted to give the ability to the developer to specify the module where tartiflette will search into it the Resolvers, Subscriptions and Directives.

@abusi any ideas?

[2019-03-05 15:14] abusi commented on #140
Yep :+1: Loving this.
Something like :
[code]

[2019-03-05 15:48] tsunammis commented on #140
@abusi LGTM

[2019-03-05 17:45] abusi commented on #140
@tsunammis With some implementation ? I'll add tests if we are okay with the interface :).

[2019-03-07 12:19] #140 closed

[2019-03-07 14:19] abusi opened #143 "Default implementation of on_introspection Directive is wrong."
In the default implementation of `on_introspection` of the `OnIntrospectionDirective` class if badly done.
Next directive isn't called with the right arguments

[2019-03-07 15:10] #143 closed

[2019-03-08 13:37] nicoferron opened #149 "Documentation site Navigation menu label not very visible"
Hello,

On the documentatioin site with a small width screen, in the nav bar, the inactive labels are not very visible (white on light blue):
![capture du 2019-03-08 14-33-31](https://user-images.githubusercontent.com/42807850/54031507-396c6c80-41af-11e9-8734-ddfb6a0afbff.png)

Cheers,

[2019-03-12 13:18] tsunammis commented on #149
We fixed it.

<img width="930" alt="Screenshot 2019-03-12 at 14 18 11" src="https://user-images.githubusercontent.com/158689/54203069-b9f1dc80-44d1-11e9-8e27-23a3f4f474b4.png">

[2019-03-12 13:18] #149 closed

[2019-03-12 13:58] nicoferron commented on #149
Wonderful

[2019-03-12 16:28] ultrabug opened #154 "Schema validation should refuse inputs which are not of type inputType"
* [x] **Tartiflette version:** 0.6.5

While working on a project I made a mistake in a Mutation where I referenced an Object Type as an Input Type and the engine started normally.

Then when trying to use this I got:
[code]

So I guess we should validate that objects referenced as inputs are of type inputType and raise an error if that's not the case

Thanks!

[2019-03-13 07:16] abusi commented on #154
Thank you for this report, i'll work on this quickly.

[2019-03-14 10:04] #154 closed

[2019-03-14 10:34] abusi opened #158 "Support Execution directive @include and @skip"
Add support for `@skip` and `@include` in a query at query execution time
https://facebook.github.io/graphql/June2018/#sec--skip
https://facebook.github.io/graphql/June2018/#sec--include

[2019-03-14 11:05] ultrabug commented on #154
Thanks @abusi

[2019-03-14 13:30] #139 closed

[2019-03-14 13:37] abusi commented on #122
I kind of like this idea @Maximilien-R.
@tsunammis what do you think of this idea?

I think it's great to enable our users to override the current default behavior.

[2019-03-14 13:38] abusi commented on #121
:+1:

[2019-03-14 14:10] abusi opened #160 "[Schema Validation] Return all errors instead of one by one"
Instead of failing at the first ValidationError, try to validate a maximum of error and provide user with a readable complete overview of the error in the schema.

[2019-03-15 10:06] abusi opened #163 "Parsing error on Inline Fragment without type condition"
[code]

Fails during parsing.

[2019-03-15 10:41] #163 closed

[2019-03-18 13:02] florimondmanca opened #165 "Add an "Edit on GitHub" link on the docs"
## Request a feature

* A part of the project could be improved

Hi! First, I'm very excited about Tartiflette, especially because it's async-first and quite Pythonic on the outside, so thanks for this project.

I am following along the [recipes manager tutorial](https://tartiflette.io/docs/tutorial), and noticed typos in several places, be it in text copy or in code snippets.

I read the contribu

[2019-03-18 13:11] abusi commented on #165
On tartiflette.io (https://tartiflette.io/docs/tutorial/getting-started) you have the "Edit" button on top of each page that will help you do that @florimondmanca.
If I have clearly understood your request?

[2019-03-18 13:13] abusi commented on #165
We would greatly liked to have typos fixed if you found some. Also If you found something that isn't really clear or not working, don't hesitate to report it here.

[2019-03-18 13:15] florimondmanca commented on #165
OK, my bad. I didn't see that "Edit" button. 🤦‍♂️ Thanks for the prompt reply!

I guess that's because I'm used to have the edit link being at the bottom of the page.

Two suggestions that I leave to your appreciation:
1. Duplicate the link at the bottom of the page?
2. Add an "edit" icon along with the text, e.g. ✏️?

Anyway, now that I have it I'll send fixes through. :-)

[2019-03-18 13:37] florimondmanca commented on #165
I ended up forking the repo anyway because the change is multi-file.

How can I run the docs site locally to preview the changes? :blush: I don't see any `make docs` or `make build` target in the `Makefile`, and I didn't see particular instructions in the contributing guide.

[2019-03-18 13:58] abusi commented on #165
@florimondmanca I think you can't yet.
@tsunammis do you have an idea here?
https://github.com/dailymotion/tartiflette.io contains the code of the website, it's this project that will deploy the pages from the file in this repository master branch.
I think that tinkering with a copy of this repo, you'll be able to spawn the "tartiflette.io" locally.

[2019-03-18 14:52] #158 closed

[2019-03-18 15:27] tsunammis commented on #165
Hello @florimondmanca

Thank you for your contributions to tartiflette, we are glad to see you here.

We will add a link at the bottom of the page, it will be easier for the contributor to find the edit link. 👍

You're right, this is not straightforward to preview your changes from the tartiflette repository. We have to add a new makefile target to clone and launch the tartiflette.io website local

[2019-03-18 22:04] florimondmanca opened #169 ""Pythonicity" suggestions"
Hi,

This isn't a bug report nor a feature request. Pardon in advance if this comes up as controversial: this is about style, naming conventions and how "Pythonic" Tartiflette is.

### Decorator casing

I noticed that most decorators (resolvers, subscriptions, directives) are `PascalCase`.

Since [functions should be named using snake case](https://www.python.org/dev/peps/pep-0008/#function-and-va

[2019-03-19 00:44] abusi commented on #169
I agree that resolver naming is a documentation problem, as the implementation only asks that the decorated objet been asyncally callable and takes 4 unnamed arguments.

On the philosophy of naming function, i'd like to name function using verbs if they are member of a class, and i'm inclined to think of them as object naming them by answering the 'what it is ?' question if they are not.

@tsunamm

[2019-03-19 07:11] florimondmanca commented on #169
Thanks for your answer!

I understand the "what is it?" approach. Yet, I've seen the opposite (name functions using verbs only if they're not members of a class) be done more often. The `obj.method()` syntax already feels a lot like `name.verb()` that we can spare having to put a verb in the method name. Plus the parentheses help understand it’s a function call that "does something". Okay, maybe t

[2019-03-20 13:25] #160 closed

[2019-03-20 17:28] tsunammis opened #172 "Provide snake-case aliases for `Subscription`, `Resolver` and `Directive`"
As suggested by @florimondmanca here #169. It should be more pythonic to expose snake-case aliases for `Subscription`, `Resolver` and `Directive`.

- [ ] Pull-request for the tartiflette implementation
- [ ] Pull-request for the documentation
- [ ] Pull-request for [the tutorial](https://github.com/dailymotion/tartiflette-aiohttp-tutorial)

[2019-03-20 17:37] tsunammis commented on #169
Hello @florimondmanca

Thank you for your contributions, your comments are really valuable for us and the tartiflette community 👍

## Decorator casing

You're right, we use the `PascalCase` mainly because the underlying piece of code behind are classes.

Your idea of adding aliases like `resolver`, `directive` and `subscription` seems interesting. We will add this issue to our to-do list 👍 (#172)

[2019-03-20 18:02] tsunammis commented on #169
@florimondmanca Here is a pull-request which integrate your suggestions regarding the methods naming. What do you think? -> https://github.com/dailymotion/tartiflette-aiohttp-tutorial/pull/1

[2019-03-22 14:38] brasilikum commented on #51
Same here, how about a 'beginner friendly' tag on the issues?

[2019-03-24 21:55] tsunammis commented on #51
thank you @brasilikum! We don't have (yet) that kind of issue.

In the future, we will flag the issues with the **good first issue** label for these which will be interesting for newcomers.

[2019-03-25 13:10] singingwolfboy opened #175 "Switch from Pylint to Black"
[Pylint](https://pylint.org/) and [Black](https://black.readthedocs.io) are two projects that do very similar things: tell you how to format your Python code. Personally, I prefer Black -- but I understand that not everyone does. I'm raising this issue to open a discussion on whether Tartiflette should switch from Pylint to Black.

## Why [Black](https://black.readthedocs.io) is Better
- No config

[2019-03-25 14:08] tsunammis commented on #175
Hello @singingwolfboy

Thank you for your issue. As you may already noticed, we use both of them. `black` to format and `pylint` in addition. According to me, they are complementary, maybe in the future `black` will be sufficient.

https://github.com/dailymotion/tartiflette/blob/master/setup.py#L56

Overview
[code]

[2019-03-25 14:24] singingwolfboy commented on #175
Oh! I don't know how I missed that. 😅 Well, I'm glad this project is using Black! I'll close this issue, since it seems there's nothing to discuss or do.

[2019-03-25 14:24] #175 closed

[2019-03-25 14:25] tsunammis commented on #175
@singingwolfboy no worries ;-)

thank you!

[2019-03-25 17:30] #165 closed

[2019-03-25 17:47] tsunammis commented on #165
@florimondmanca you are now able to launch the documentation website locally by executing `make run-docs`.

Is it what you expected?

[2019-03-25 18:09] florimondmanca commented on #165
Sounds good! Will test it out shortly.

[2019-03-26 11:49] florimondmanca commented on #165
@tsunammis Works great! The hot reload is very helpful. Thanks! :+1:

[2019-03-27 16:47] thecylax opened #178 "Multiple non anonymous operations raise an error"
- **tartiflette**: 0.6.7
- **tartiflette-aiohttp**: 0.4.2
- **Python version**: 3.7.2
- **Executed in docker**: No

https://graphql.github.io/graphql-spec/June2018/

Request:
[code]

Response:
[code]

[2019-03-27 21:01] abusi commented on #178
I'm not sure of the problem.
Are you saying that Tartiflette isn't returning an error OR that it does return an error and that it shouldn't?

[2019-03-27 21:28] thecylax commented on #178
Sorry if I was not clear. Yes, tartiflette returns an error where I believe it should not, because in other server implementations this does not occur, it is possible to send multiple non-anonymous operations.

[2019-03-27 21:35] abusi commented on #178
As you've pointed out, the june spec says [here](https://graphql.github.io/graphql-spec/June2018/#sec-Language.Document) that :

Your playload should look like : ```json
{ "query": "query A { ...} query B { ... }", "operationName": "A" } so Tartiflette knows which operation to perform.

Did you try this ?
With which client are you performing your requests ?

[2019-03-27 21:39] abusi commented on #178
Okay, I just saw that you're using tartiflette-aiohttp, I think the issue is there, I'll transfer the issue to this repository.
Thank you for this bug report :).

[2019-03-28 06:37] tsunammis opened #179 "Expose "Scalar" decorator at the root level of tartiflette"
Currently, this is not straightforward to register its scalar types, the `Scalar` decorator is located at the `tartiflette.scalar` module.

In term of API, it would be more consistent exposing this decorator at the same level as `Resolver`, `Subscription` and `Directive`.

**Currently**
[code]

**After**
[code]

[2019-03-28 06:38] tsunammis commented on #51
Hello @brasilikum and @piotr-yuxuan
We have our "good first issue" if you are interested -> https://github.com/dailymotion/tartiflette/issues/179

[2019-03-28 16:13] brasilikum commented on #51
I guess with the label in place this issue can be closed

[2019-03-28 21:30] tsunammis commented on #51
Thank you !

[2019-03-28 21:30] #51 closed

[2019-03-28 21:32] tsunammis commented on #169
A pull request has been merged with your advice and an issue created to handle the `snake_case` version of the decorators.

Do not hesitate if you think that this issue is not solved

[2019-03-28 21:32] #169 closed

[2019-04-01 13:20] tsunammis opened #185 "Scalar: "coerce_input" doesn't applied on input."
The `coerce_input` seems to be uncalled when we execute a query with an input which is a Scalar.

* [X] **Tartiflette version:** 0.6.10
* [X] **Python version:** 3.7.1
* [X] **Executed in docker:** No
* [X] **Is it a regression from a previous versions?** No

[code]

[code]

[2019-04-01 13:24] abusi commented on #185
Nice :)

[2019-04-01 13:24] abusi commented on #185
Thank you for this bug report.

[2019-04-01 14:55] #179 closed

[2019-04-02 15:37] #185 closed

[2019-04-03 07:22] abusi opened #187 "Use aktau/github-release to upload changelog instead of travis."
Travis-ci doesn't support md in the body.
https://github.com/travis-ci/dpl/issues/155

Remove the body field for travis,
add the tool from aktau to the travis image
use the tool in the after_deploy step of the stage 'releases' with the `edit` command.

[2019-04-03 15:53] ultrabug opened #188 "Input coercing raises KeyError on nullable fields"
Hey guys,

On 0.7.0, if an input specifies a field that can be NULL and this field is not present in the input variable tartiflette raises a KeyError.

I'd expect it considers the missing field as "None" / null instead.

Cheers!

[2019-04-04 06:34] abusi commented on #187
Duplicated by #189

[2019-04-04 06:34] #187 closed

[2019-04-04 07:40] Maximilien-R commented on #188
@ultrabug Thank you for this report. We'll work on this quickly and release the `0.7.1` version.

[2019-04-04 13:35] #188 closed

[2019-04-11 13:11] Maximilien-R opened #199 "Executable directives on fields wraps "permanently" the resolver"
When you do a query with directives on fields. The directives callable wraps the schema field resolver meaning that any queries after this one will have the resolver with the previous directives.

* **Tartiflette version:** 0.7.3
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Scenario:
[code]

[code]

[code]

[2019-04-11 14:26] #199 closed

[2019-04-11 20:16] bkcsfi opened #201 "schema parser does not support single line comments"
## Report a bug

Please provide

* [ ] **schema parser should accept files that contain single line comments**
* [ ] **Tartiflette version:** _0.7.3_
* [ ] **Python version:** _3.7.1_
* [ ] **Executed in docker:** _No_
* [ ] **GraphQL Schema & Query:** _e.g gist, pastebin or directly the query_
[code]
* [ ] **Is it a regression from a previous versions?** _unknown_
* [ ] **Stack trace**
[code]

se

[2019-04-11 20:19] tsunammis commented on #201
@bkcsfi Thank you for your bug report. We will analyze it during the next days.

[Do not hesitate to join the Slack channel](http://slack-tartiflette-io.herokuapp.com/)

[2019-04-12 09:51] tsunammis opened #203 "Improve exception management by providing simpler "error_coercer""
The current Engine's `error_coercer` parameter provides extensibility to the exception management.

This method allows you to override the  behavior when a GraphQL exception is raised.

### Current implementation

[code]

**Caveat:** As a tartiflette's user, you HAVE to call the `default_error_coercer` to fullfil the error parameters _(`path`, `location`)_.

### Proposal

Extract the needed call o

[2019-04-15 08:51] Maximilien-R opened #205 "Coercing input object with `null` value raise an exception"
When you try to make a query with a complex input with a `null` value its results on an exception.

* **Tartiflette version:** 0.8.1
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Query:
[code]

[2019-04-15 10:24] #205 closed

[2019-04-15 15:32] Maximilien-R opened #207 "Default argument value aren't set on non filled in variable"
When you have an argument with a default value defined in the `SDL` and you make a query with a variable definition without filling the variable, the argument value is always `None`.

* **Tartiflette version:** 0.8.2
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Resolver:
[code]

Query:
[code]

[2019-04-16 07:22] #207 closed

[2019-04-16 12:39] Maximilien-R opened #209 "Exception raised in arguments coercer doesn't returns expected error"
* **Tartiflette version:** 0.8.3
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Python:
[code]

Query:
[code]

Expected:
[code]

[2019-04-16 12:52] #209 closed

[2019-04-16 12:58] abusi commented on #201
@bkcsfi can you provide the complete sdl that is failing? your snippet seems to work fine on my setup :tm:

[2019-04-17 11:20] #201 closed

[2019-04-17 12:23] bkcsfi commented on #201
sorry I was out of the office and could not reply in a timely manner. Sounds like you were able to recreate?

[2019-04-17 12:28] abusi commented on #201
Yeah, it was due to a trick done to the result of the sdl loaded from a file (my first test was using a string in code, and was working). Before 0.8.6, when a SDL was loaded, it was "one lined" because our first version of the lark grammar was not complete and didn't support '\n' as expected. When that was resolved, we forget to "un-onelined" the loaded sdl.
Basicly when adding a `# comment` every

[2019-04-18 15:20] Maximilien-R opened #213 "Properly handle null values on arguments"
Passing null values to arguments (or variables) aren't handled properly.

* **Tartiflette version:** 0.8.6
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Python:
[code]

Query:
[code]

[2019-04-18 16:32] tsunammis commented on #172
Hello @florimondmanca,

The current tree of the `tartiflette` module contains a submodule called `resolver` and `directive`. Which doesn't allow us to expose the snake-case aliases of `Directive` and `Resolver`.

We agree with your point of view, we will add this improvement to a future major version.

[2019-04-18 16:32] #172 closed

[2019-04-18 16:53] florimondmanca commented on #172
Understood! If this requires breaking chances, I can see why this shouldn’t make it to Tartiflette for now.

[2019-04-18 18:34] florimondmanca opened #215 "ASGI support"
## Request a feature

Hi, I saw that Tartiflette supports HTTP as a transport layer via `tartiflette-aiohttp`. That's pretty cool, but I think there may be a better option to enable interoperability with other parts of the Python async web stack: [ASGI](https://asgi.readthedocs.io/en/latest/).

It's the equivalent of WSGI for async: the de-facto standard interface between async web apps and async

[2019-04-19 08:54] #213 closed

[2019-04-19 15:40] abusi commented on #215
We'll be very happy if you'll provide an integration of tartiflette in bocadillo.

Tartiflette, per se, doesn't care about the transport. Tartiflette-aiohttp is just an example of integration into a webserver.

You can use tartiflette anywhere yoy want.

We are also studying the creation of a tartiflette-starlette example.

Feel free to provide a bocadillo integration, we'll link it in the doc/rea

[2019-04-19 15:41] abusi commented on #215
What is blocking you from serving tartiflette executed graphql requests from bocadillo ?

[2019-04-19 15:54] florimondmanca commented on #215
Thanks for your answer!

To be honest, I haven’t digged into the problem just yet. :-) I thought that since Tartiflette had an aiohttp integration there was some kind of special/advanced work required to make it work in a web environment.

It’s good hearing that this should be easy enough. I’d love working on a Bocadillo integration, though I think the more sustainable/reusable approach would be t

[2019-04-19 16:13] bkcsfi opened #216 "mutation validation error message is not very helpful"
## Request a feature

* [ ] **Tartiflette version:** _0.8.8_

When required fields are missing in an input Object (at root or nested), the returned error message reports the field is missing from the mutation result object rather than indicating where in the input it is actually missing

e.g. this error is returned

[code]
when I submit this mutation it would be helpful to get an error about missi

[2019-04-19 19:30] abusi commented on #215
Basicly tartiflette is a simple thing.
You initialize a tartiflette.engine with a sdl and a package list containing your resolvers, and then, on this engine instance you call the execute method with 'query, vars_val, operation_name, user_context).
Nothing links tartiflette to aoihttp, or even http, the only think requiered is async python ;).

[2019-04-19 19:50] florimondmanca commented on #215
Yes, sooo — I took inspiration from tartiflette-aiohttp and Starlette's GraphQL ASGI app, and… There it is! [tartiflette-asgi](https://github.com/florimondmanca/tartiflette-asgi) :tada:

Feel free to take a look and share your thoughts! Still need to add tests and publish to PyPI, but it's working pretty smoothly already.

[2019-04-19 21:17] abusi commented on #215
Very nice !! Since it's a starlette integration, can you name it tartiflette-starlette ?
But nonetheless this is pretty cool !
I'll look at it more closely next week.
Thanks again !

[2019-04-19 21:31] florimondmanca commented on #215
I’m not sure it should be named after Starlette, since in practice it can be plugged into any ASGI framework regardless of whether said framework uses Starlette itself.
But I can see why this would be clearer — it does depend on Starlette, and we inject the Starlette request and a background task factory into the GraphQL context. So I’m not against it! Will update the project name and description.

[2019-04-19 21:37] tsunammis commented on #215
I think that it could be a good opportunity for your project (and us) to join the « tartiflette » organization on github.
To become an official implementation of tartiflette through asgi.

@florimondmanca what do you think ?

[2019-04-19 22:32] florimondmanca commented on #215
@tsunammis I think it makes sense from a maintenance and future-proofing perspective. To be honest I'm concerned with ownership over the project — will I remain one of the maintainers? Are there any rules/processes/standards/guidelines for repos under the dailymotion org?

[2019-04-20 10:01] tsunammis commented on #215
@florimondmanca We created a new organization called [tartiflette](https://github.com/tartiflette), which not belongs to the dailymotion one. The idea is to officially host and support some projects from the community, like yours. You will keep the ownership over the project, obviously, we will work closely to bring a consistent and good developer experience over all the tartiflette projects.

[2019-04-20 10:19] florimondmanca commented on #215
Brilliant! Very good idea to create a separate organization to help Tartiflette stand on its own feet.

I can initiate the repo transfer. I read in [Transferring a repository](https://help.github.com/en/articles/transferring-a-repository) that you'll receive an email to accept the transfer, then I'll be added as a collaborator to the transferred repo (i.e. `tartiflette/tartiflette-starlette`) and

[2019-04-20 11:15] tsunammis commented on #215
@florimondmanca perfect! I'd be delighted to chat with you through slack about our vision, the next subjects we will tackle and the DevExp we want to provide, are you interested in?

[2019-04-20 11:20] tsunammis commented on #215
@florimondmanca You can initiate the transfer, I will accept it.

[2019-04-20 11:27] tsunammis commented on #216
@bkcsfi Thank you for your report. Do you some expectations from your tartiflette client point of view?

[2019-04-20 12:20] florimondmanca commented on #215
@tsunammis I tried to transfer the repo but got this permission error:

[code]

But the docs read "The target account must not have a repository with the same name" so I think you need to add me to the org w/ write access beforehand.

[2019-04-20 12:21] florimondmanca commented on #215
Sure! Can't promise anything on how much I'll contribute but I'm interested in knowing where Tartiflette is heading at. :-) You can send me a Slack invite for florimond.manca[@]gmail.com

[2019-04-20 13:51] tsunammis commented on #215
@florimondmanca I sent you an invitation to join the organization.

[2019-04-20 14:43] florimondmanca commented on #215
@tsunammis Roger that. Transfer complete :tada: Can you activate write access for me over https://github.com/tartiflette/tartiflette-starlette?

[2019-04-21 08:40] tsunammis commented on #215
@florimondmanca Yes, you already have the right access ;-)

[2019-04-21 10:24] ba-alexg opened #217 "Lists of input objects do not work"
When executing a mutation which accepts a list of input objects as an argument, _or_ accepts an input object which contains a list of input objects, an unexpected error occurs. This also occurs when the input object type is passed as a variable. Lists of scalars work as expected

This appears to be a bug in the execution engine itself, because the message is a standard Python exception (see below)

[2019-04-21 10:24] #217 closed

[2019-04-21 10:25] Randdalf opened #218 "Lists of input objects do not work"
When executing a mutation which accepts a list of input objects as an argument, _or_ accepts an input object which contains a list of input objects, an unexpected error occurs. This also occurs when the input object type is passed as a variable. Lists of scalars work as expected

This appears to be a bug in the execution engine itself, because the message is a standard Python exception (see below)

[2019-04-21 10:27] ba-alexg commented on #217
Submitted this on the wrong account, please delete.

[2019-04-22 07:43] abusi commented on #218
Thanks for this bug report

[2019-04-22 08:04] abusi commented on #215
I'll consider this issue closed now ;)
Thanks again Florimond.

[2019-04-22 08:04] #215 closed

[2019-04-22 15:35] bkcsfi commented on #216
It would be helpful if input object validation worked similar to "result validation".

for example I had a broken resolver returning a result with null for a required element.

As shown below, an error is returned indicating which field is invalid, why it is invalid and the path to the invalid value.

it would be helpful to get a similar level of detail when validating input objects.
It would also

[2019-04-23 15:43] #218 closed

[2019-04-28 23:00] florimondmanca opened #221 "Simplify resolver signature"
## Request a feature

* [x] A part of the project could be improved?

*This would be a breaking change.*

Suppose the following query:

[code]

Currently, a typical resolver looks like this, i.e. a function with 4 positional arguments:

[code]

Here's my : I think **4 positional arguments is too much**. While typing the example above, I had to stop and try to remember what were the 4 arguments I h

[2019-04-28 23:09] florimondmanca commented on #172
Hey @tsunammis, is this issue still considered for a future major version despite being closed? Perhaps this should be reopened unless this is something we won't consider implementing in the future at all?

Also, I think sub-packages conflicting with the snake-cased decorators can be easily worked around (e.g. by renaming packages to `resolvers` and `directives`).

[2019-04-30 08:35] abusi opened #223 "[Directive] Manage execution for ENUM_VALUE, ENUM, SCALAR, OBJECT, INPUT_OBJECT, INPUT_FIELD directives"
Call the on_X_field/argument_execution method on a directive if available following where it is instancied.
This is a first step toward #224

[2019-04-30 10:48] tsunammis commented on #203
Solved in the Pull-request #222

[2019-04-30 10:48] #203 closed

[2019-05-02 08:24] tsunammis commented on #216
Hello @bkcsfi

Thanks for these feedbacks.

This is an interesting feature, we will add it to our todo list.

It would also be helpful to get a complete list of invalid fields rather than having it return a failure on the first invalid item.

You're right, this is a feature also needed by our front-end teams, it will be included within the [Improve query parsing and validation](https://github.com/

[2019-05-02 13:50] tsunammis opened #224 "[Extensibility through @directive] hook's specification"
The [June2018 GraphQL Specification](https://github.com/graphql/graphql-spec/blob/June2018/spec/Section%203%20--%20Type%20System.md#directives) described an interesting list of locations where directive could be applied on.

## Context

As [explained in the website](https://tartiflette.io/docs/tutorial/extend-with-directives), **tartiflette** based its extensibility on the directive mechanism.

Th

[2019-05-02 14:15] abusi commented on #224
Next step here is to specify the execution order of all these hooks.
I'll have a proposal soon. If anyone has idea, i'll look at them with pleasure.

[2019-05-03 15:46] tsunammis commented on #221
Hello @florimondmanca

## Why the `(parent, args, ctx, info)` signature?

When we started to work on tartiflette, we wanted to minimize the impact on our legacy codebase built on top of graphene. Our codebase is made of tons of resolvers which respect this signature, to be compliant both with tartiflette and graphene.
I agree with you that this is not perfect. A step back is necessary to understan

[2019-05-04 09:02] florimondmanca commented on #221
Thanks for the explanation and the historical context @tsunammis.

I understand there's already a ton of code at DM that uses this signature. However, do you think supporting *both* signatures (by inspecting them) would be a viable mid-term solution?

My rough intuition is that this could be implemented by replacing:

[code]

with:

[code]

where resolvers are called.

As far as I understand how t

[2019-05-04 09:17] florimondmanca commented on #224
This sounds great. Directives look like a huge step forward to enhance extensibility of Tartiflette going forward.

Just to be sure — an X in the above tables means that the hook accepts the corresponding input as a parameter, right?

Also, I see hooks currently use a 100% positional style, e.g.:

[`on_field_execution(directive_args, next_resolver, parent_result, args, ctx, info)`](https://github.

[2019-05-06 07:36] abusi commented on #221
If my field takes more than 3 parameters, like:
[code]

[code]
Here my resolver has to many parameters for default pylint to be happy, and this is a basic example. I'm sure we can find use cases needing more than 4 parameters. So to solve this, your going to have `**kwargs` in you resolver, and do `kwargs.pop(p, default)` and manage edge case for each parameters which is equal to have a prototype

[2019-05-06 07:40] florimondmanca commented on #221
Hmm, yes, I see how there’s a scaling issue associated to having more and more GraphQL parameters. Thanks @abusi.

I’m less and less convinced a new signature  (probably with too much magic) is a good idea. I think we can close this. Thanks for discussing!

[2019-05-06 07:40] #221 closed

[2019-05-06 07:44] abusi commented on #221
Thanks you for raising your concerns, please continue to do so. There plenty of point in the Tartiflette implementation that needs this kind of questionning, it's very constructive for us to have an external POV.

[2019-05-06 09:02] florimondmanca commented on #221
Sure, anytime! 👍

[2019-05-06 09:14] abusi commented on #224
[code]
We're going to transform the `static` directives into instance ones.
This will enable us to simply a lot these signatures. At least, `directive_args` and `next` are going to move into the instance.
We are also thinking on a way to provide configuration to a directive instance.
I'm working on a little PR to prove some concepts (see #223) and then I'll have a more precise idea on how to `solv

[2019-05-06 17:20] bkcsfi opened #225 "Question: How to capture full traceback from resolver exceptions?"
When an exception is raised in a resolver, such as KeyError, the result is returned to the client as a TartifletteError/GraphQLError instance.  That's ok for the client but makes development and debugging difficult as the actual exception type is lost.

I know I can implement a global error coercer which could retain the actual type of the exception. However I'm still missing out on the traceback

[2019-05-06 17:39] bkcsfi commented on #225
ah, so its resolver/factory.py that's doing the catch.. hmm. looks like I'll have to write  a decorator for every resolver.

[2019-05-07 09:57] abusi commented on #225
@bkcsfi I think @Maximilien-R has an easier solution for you here. I'm assigning this issue to him. I let him give the details to you.

[2019-05-07 17:36] Maximilien-R commented on #225
Hi @bkcsfi,

In my opinion, for your use case, the easiest way to log exception wrapped into a `TartifletteError` is to use the `error_coercer` feature (cf. https://tartiflette.io/docs/api/error-handling#advanced-add-a-global-error-coercer).

You could have something like that:
[code]

FYI, Tartiflette catch every exceptions which occurs [during the resolving process](https://github.com/dailymotio

[2019-05-09 08:24] tsunammis commented on #221
Thank you @florimondmanca 👍

[2019-05-10 08:30] Maximilien-R commented on #225
The value set to the `original_error` attribute is the exception that is returned [here](https://github.com/dailymotion/tartiflette/blob/master/tartiflette/resolver/factory.py#L104) which occurs during the resolving process. Meaning that it should contains the full original exception information including its traceback.

Regarding the fact that on my proposed code, `exc_info` parameter is the orig

[2019-05-10 15:32] bkcsfi commented on #225
Thanks so much for your assistance with this issue.

What threw me off on this is that sys.exc_info docs suggest it only works properly if its called from  within an except clause.

However your sample code does work. Below is what I implemented, passing exceptions to sentry, or if that's not configured using logging.exception (I could also use cgitb here to get context vars).

[code]
Sentry does

[2019-05-10 15:32] #225 closed

[2019-05-14 09:38] abusi commented on #224
#223 #226 Will bring an implementation of some `TypeSystem` Directive hook such has :

| Directive Method name _(hook)_ | Schema | Scalar | Object | Field Definition | Argument Definition | Interface | Union | Enum | Enum Value | Input Object | Input Field Definition |
| ------------------------------ | ------ | ------ | ------ | ---------------- | ------------------- | --------- | ----- | ---- |

[2019-05-14 17:02] #223 closed

[2019-05-15 13:47] tsunammis opened #228 "[Extensibility] Bring an "hookable" way to make third-party libraries possible"
One missing part needed by the community to provide external directives is a way to configure the directive.

Here is a draft of the API to provide configuration.

## No more `Directive` abstract class

The Directive classes won't extend any tartiflette abstract classes. Instead, you will have to implement the methods you want to support depending on the feature you want to compliant with. _(see a

[2019-05-15 13:51] tsunammis commented on #224
In addition to these improvements, we started to make third-party libraries possible -> https://github.com/dailymotion/tartiflette/issues/228

[2019-05-24 14:58] florimondmanca opened #230 "Add documentation for tartiflette-starlette"
## Request a feature

* A part of the project could be improved

The ASGI adapter for Tartiflette is being developer at https://github.com/tartiflette/tartiflette-starlette.

We discussed adding documentation for `tartiflette-starlette` alongside `tartiflette-aiohttp` — see https://github.com/tartiflette/tartiflette-starlette/issues/19#issuecomment-492319867.

A pre-requisite to this is to achieve

[2019-05-24 15:01] tsunammis commented on #230
Thank you @florimondmanca I will have a look at it next week.

[2019-05-24 22:31] tsunammis opened #231 "Migrate "tartiflette" to its own organisation"
A few weeks ago, we created the ["tartiflette" github organization](https://github.com/tartiflette).

In order to foster the community to contribute more easily and to preparing the coming "plugin approach" of tartiflette. We plan to migrate the repository to its own organization.

- [x] Migrate `dailymotion/libgraphqlparser` to `tartiflette/libgraphqlparser`
- [x] Update the submodule
- [x] Updat

[2019-06-04 11:53] tsunammis commented on #231
Migration done.

[2019-06-04 11:53] #231 closed

[2019-06-07 11:27] Maximilien-R opened #233 "Exception is raised when enum list on argument are coerced"
* **Tartiflette version:** 0.10.0
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Query:
[code]

Expected:
[code]

[2019-06-07 13:26] Maximilien-R opened #235 "Exception is raised when querying `__typename` field on `Union`"
* **Tartiflette version:** 0.10.0
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

SDL example:
[code]

Query:
[code]

Expected:
[code]

[2019-06-11 09:29] #233 closed

[2019-06-12 08:10] #235 closed

[2019-06-13 09:49] #228 closed

[2019-06-13 09:50] abusi opened #237 "[Doc] Details the plugin part of the API"
Complete the documentation for the new create_engine and plugin apis

[2019-06-17 18:51] #237 closed

[2019-07-01 09:41] dmitry-sobolev opened #245 "Broken cyrillic descriptions in GraphQL schemas"
When I trying to write descriptions in graphql schemas in russian, e.g.:
[code]
It will be parsed into `Ñ\x82ÐµÑ\x81Ñ\x82`. I expected that description will be readable.

While debugging I found that corruption is result of execution these lines: https://github.com/tartiflette/tartiflette/blob/d07a3444d6abc82e25175c1c42b128b8d611bba4/tartiflette/sdl/transformers/cleaning_transformer.py#L67 and htt

[2019-07-01 11:47] abusi commented on #245
@dmitry-sobolev Hi, hum, this is sad. Do you see a way for us to fix this ?
I'll have a tendancy to say that we are only supporting UTF-8 encoded file but I don't know if Russian chars can be encoded that way ?
I'll have a look and see if we can specify an encoding for the tartiflette file sdl so you'll be able to create an engine and specify that your SDL are xxx encoded.
What do you think ?

[2019-07-01 12:39] abusi commented on #245
which web server are you using ?
which encoding is you file using ?
After reading the SDL file, the python dict should contain the correct represenation of the data.
Then quering the `query { __type(name: \"Query\") { description name fields { name description } } }` through vanilla json.dumps will "encode" to UTF-8 per default with `ensure_ascii=True`  This should be modified for it to work prope

[2019-07-02 07:49] florimondmanca opened #256 ".cook() is not idempotent"
* [x] **Explain with a simple sentence the expected behavior**: it should be possible to call `.cook()` multiple times without it failing with hard-to-debug error tracebacks.
* [x] **Tartiflette version:** 0.11.2
* [x] **Python version:** 3.7.2
* [x] **Executed in docker:** No
* [x] **Is it a regression from a previous versions?** No (I think the root cause has always been there?)
* [x] **Stack tr

[2019-07-02 07:53] abusi commented on #256
.cook() (and the global process of creating an engine) is meant to be do once.
I think a `cooked` boolean would help us here (not to cook an already cooked engine).

But you won't be able to do 2 engine with the same SDL if schema_name is the same.

[2019-07-02 07:53] abusi commented on #256
I think the first step of implementing a 'cooked' step is easily doable.

[2019-07-02 07:57] florimondmanca commented on #256
That makes sense. Then I'm thinking about people using `tartiflette-starlette` and writing tests for their Starlette app as I'm doing now. How can we make sure they don't to hack their way through a solution such as resetting `SchemaRegistry._schemas` so that their tests start from a clean registry? Maybe a public `SchemaRegistry.clean()` method could help.

[2019-07-02 07:59] florimondmanca commented on #256
FYI I pushed a branch with failing tests in https://github.com/tartiflette/tartiflette-starlette/pull/35.

[2019-07-02 08:02] abusi commented on #256
I see your point, yeah maybe a SchemaRegistry.clean() could also be a cool idea. It would save the time of creating a new Engine/App with a `schema_name="test_{x}"`. (that's what we do in Tartiflette itself for the newest tests, old ones still uses the old "clean_registry" fixture.
A clean method on the registry will also helps us here.

[2019-07-02 08:37] dmitry-sobolev commented on #245
@abusi File encoded in UTF-8.
Here I've tried to implement script that reproduces my case: https://gist.github.com/dmitry-sobolev/c35d1854b75379de5bd8b9c00740881f.

As you can see docstring of field `test` in `result.json` is `"\u00d1\u0082\u00d0\u00b5\u00d1\u0081\u00d1\u0082"`. If you try to execute `json.loads('"\u00d1\u0082\u00d0\u00b5\u00d1\u0081\u00d1\u0082"')`, result will be `Ñ\x82ÐµÑ\x81Ñ\

[2019-07-02 08:39] abusi commented on #245
Thanks for your information, i'll have a look at it.
I Honestly I can't remember why we did it that way.

[2019-07-02 09:02] #245 closed

[2019-07-02 10:45] dmitry-sobolev commented on #245
Thanks :)

[2019-07-02 11:22] abusi commented on #245
No problem thank you for the bug report, we'll release a 0.12.x or a 0.11.x soon :tm:

[2019-07-02 22:05] florimondmanca commented on #256
@abusi I pushed fixes in #255 and #258. Feel free to take a look! :+1:

[2019-07-02 22:11] abusi commented on #256
Thank you @florimondmanca. I'll make the release tomorrow.

[2019-07-02 22:11] #256 closed

[2019-07-02 22:30] florimondmanca commented on #256
Great, thanks! 🚀

[2019-07-12 11:57] florimondmanca opened #261 ""python2: command not found" during installation"
## Report a bug

* [x] **Explain with a simple sentence the expected behavior**: I was expecting installing Tartiflette via `pip install tartiflette` to run without issues with Python 3.7
* [x] **Tartiflette version:** 0.12
* [x] **Python version:** 3.7.3
* [x] **Executed in docker:** no
* [x] **GraphQL Schema & Query:** N/A
* [x] **Is it a regression from a previous versions?** Maybe?
* [x] **Sta

[2019-07-12 12:03] florimondmanca commented on #261
OK, my bad, `pyenv` was incorrectly configured. I ran `$ pyenv global 3.7.3 2.7.16` for programs to be able to run `python2` within a Python 3 virtualenv, and it's all good now. Nothing wrong on Tartiflette's side!

[2019-07-12 12:03] #261 closed

[2019-07-16 09:54] Maximilien-R opened #263 "Variable definition aren't properly validated on non-nullable list items"
When defining a variable definition as follow `$myVar: [String!]`, Tartiflette engine returns an error when we don't provide a value for this variable even if its not a mandatory one. This seems to be due to the `TartifletteVisitor` which enter in the `_on_non_null_type_in` method and marks the whole variable definition to non nullable instead of marking just the list item elements as nullable.

*

[2019-07-16 14:48] abusi commented on #263
Okay, i think i know what's happing. I'll have a fix soon:tm:

[2019-07-17 12:00] #263 closed

[2019-07-18 08:37] Maximilien-R opened #265 "List variable with non-list value should results in a list of size one"
When defining a variable definition of a list of item, Tartiflette engine except to have a list value as input. If it's not the case we have an error raised.

This isn't the proper behavior regarding the [GraphQL specification](https://graphql.github.io/graphql-spec/June2018/#sec-Type-System.List).

* **Tartiflette version:** 0.12.1
* **Python version:** 3.7.1
* **Executed in docker:** No
* **Is a

[2019-07-22 12:24] remorses commented on #134
Also `on_pre_output_coercion` is not called

[2019-07-22 13:57] abusi opened #267 "Empty List on [type!] input should be considered valid"
as defined here :
https://graphql.org/learn/schema/#lists-and-non-null

We are failing on theses requests:
SDL
[code]

Query:
[code]
With vars at
[code]

Will fails, and it shouldn't.

[2019-07-23 19:29] #267 closed

[2019-08-08 06:37] abusi opened #270 "Float var values can be mistaken as int by the variable validator"
SDL
[code]

Query
[code]
variables
[code]

[2019-08-08 08:06] #270 closed

[2019-08-12 06:50] abusi commented on #224
#272 will be a big step toward this.
It will only miss #134 which will be schedule next.
I'll mark this for v1.1 milestone.

[2019-08-21 10:01] dmitry-sobolev opened #276 "Batch loading"
Hello,

I've created schema with type which fields has resolvers. It means that if I query e.g. 5 objects of this type every resolver will be executed 5 times. If every resolver contains request to db, result will be 1+5*(number of resolvers) requests, which is quite many. Is there any way to implement batch loading of nested resolvers or maybe another way to optimize number of requests?

**Exampl

[2019-08-23 10:51] aljinovic opened #277 "Interface __typename not supported, nested "... on" error"
I found 2 different problems with query processing:

1. `__typename` doesn't work on Interfaces
1. `field ... was not found in GraphQL schema` error occurs on the first next field after a nested `... on` statement in the query

**Schema**
[code]

**Query**
[code]

**Errors**
[code]

**Tartiflette version:** 0.12.4
**Python version:** 3.7
**Executed in docker:** Yes, but same problem reproducible w

[2019-08-23 13:21] tsunammis commented on #276
Hello @dmitry-sobolev

Thank you for your question.

Currently, there is no way to optimize or to implement a batching solution within the tartiflette engine.

### How are we dealing with the [N+1 problem](https://engineering.shopify.com/blogs/engineering/solving-the-n-1-problem-for-graphql-through-batching)?

When we started to implement a GraphQL API, internally, we decided to build a DataLoader

[2019-08-23 13:27] tsunammis commented on #277
Thank you @aljinovic for your bug report.

This issue will be solved by the tartiflette version 1 we are working on. [More details on this pull-request](https://github.com/tartiflette/tartiflette/pull/272).

In the tartiflette version 1, the entire execution algorithm has been rewritten, giving us the ability to be compliant with the GraphQL Specification June 2018.

The tartiflette version 1 will

[2019-08-23 13:33] dmitry-sobolev commented on #276
Ok, I understood.

Thank you for answer.

[2019-08-23 13:33] #276 closed

[2019-08-23 13:35] aljinovic commented on #277
Do you maybe have a build which I could test?

[2019-08-23 14:37] abusi commented on #277
@aljinovic you can test this by doing `git checkout  ISSUE-121-document-node-execution` and then `pip install -e .` in a cleab vituralenv. Then you'll be able to test it.
Release of alpha v1 is plan next week.

[2019-08-24 13:50] remorses opened #278 "`extend type` is ignored"
Extended fields are ignored
[code]

The generated graphql schema contains only hello

![Schermata 2019-08-24 alle 15 49 34](https://user-images.githubusercontent.com/31321188/63638303-c84e4200-c686-11e9-826e-0b352b3dbd0a.png)

[2019-08-25 11:08] abusi commented on #278
Yes, it's not supported rigth now, will be done shortly after v1 release.

[2019-08-27 10:48] tomchristie commented on #230
Thought: Might want to just call it `tartiflette-asgi` or something, and document it as mountable under Starlette, FastAPI, Responder, Bocadillo, Quart, or whatever else. (Possibly also the latest versions of Sanic, but I've not looked into that in any detail)

[2019-08-27 14:32] florimondmanca commented on #230
Fair point @tomchristie. tartiflette-asgi was the initial name, but seeing how much confusion the current seems to bring wrt to the Starlette dependency (“My framework is not based on Starlette so I can’t use this, right?”), I’d also be keen to revert.

(As for Sanic, someone’s trying out Sanic + tartiflette-starlette right now, but from at first glance it seems that Sanic misses the ASGI sub-moun

[2019-09-03 08:09] aljinovic opened #284 "GraphiQL JS error with tartiflette 1.0RC1"
I've been testing the tartiflette RC1 (https://github.com/tartiflette/tartiflette/pull/272) with tartiflette-aiohttp and noticed that GraphiQL crashes with this error:

[code]

[2019-09-09 10:24] Maximilien-R commented on #284
Hi @aljinovic,

I have some good news. I have dug into the issue and find out that the error wasn't due to the parsing of `StringValue` and `BlockString` (even if we didn't handle them properly) but to the resolving process of the `__InputValue.defaultValue` field.

Indeed, the [GraphQL specification](https://graphql.github.io/graphql-spec/June2018/#sec-The-__InputValue-Type) isn't very clear abou

[2019-09-11 14:51] #121 closed

[2019-09-11 14:51] #122 closed

[2019-09-11 14:51] #216 closed

[2019-09-11 14:51] #277 closed

[2019-09-11 14:51] #278 closed

[2019-09-11 14:51] #284 closed

[2019-09-14 12:10] remorses opened #292 "Cannot resolve extended types"
With the schema
[code]
I can see the extended fields in graphiql schema but as soon as i try to declare a resolver for the extended type like this
[code]
baking the schema i get the error
[code]
I am using the last published 1.0.0rc1 together with tartiflette-aiohttp==1.0.0

[2019-09-14 19:27] Maximilien-R commented on #292
Hi @remorses,

Thank you for raising this issue.

Indeed, defining a resolver on an extended field of a type raises an exception. This is due to the fact that resolvers are cooked before cooking the extensions.

This behavior should be fix with [this PR](https://github.com/tartiflette/tartiflette/pull/293).

You can test it with this development release:
[code]

[2019-09-15 07:34] #292 closed

[2019-09-19 18:59] shalseban opened #297 "parse_schema_to_sdl or transform_schema_to_sdl functions?"
**Context**
I want to do some `sdl` manipulation programmatically (on registration of a resovler). This involves adding a new field to an object or changing the type of an existing object. I was planning on doing this by parsing the `GraphQLSchema` object.

I came across the experimental feature in [lark for reconstruction](https://github.com/lark-parser/lark/blob/master/lark/reconstruct.py) thoug

[2019-09-19 19:55] helio-correia opened #298 "Wrong operator in tutorial"
Hi there, on the tutorial page in docs/tutorial/write-your-mutation-resolvers.md in the part
[code]
This should not be an "or" instead the "and" ?

[2019-09-20 06:52] abusi commented on #298
@helio-correia Hi, thank you for reporting this. Do you wanna do a PR in the https://github.com/tartiflette/tartiflette-aiohttp-tutorial repository for fixing the code and one here to fix the doc ?

[2019-09-20 06:57] abusi commented on #298
@helio-correia only the doc need to be fixed here. A PR in the tutorial repo is being made.

[2019-09-20 07:07] abusi commented on #297
Hi @shalseban, what you want to do is not doable right via Tartiflette.
Tartiflette parse the SDL with the language.lark package into Nodes that are used to complete the GraphQLSchema object.
This GraphQLSchema object is then `bake`.
Then it is usable by the Engine to Resolve a GQLQuery.

The bake process is done once at init time (via the create_engine and cook method). Then the GraphQLSchema is

[2019-09-20 09:22] remorses opened #299 "[feature request] Apollo federation"
The spec of Apollo federation allows to build graphql servers that can be composed one with another, i think it would be cool to implement the spec in tartiflette.
The implementation consist in implementing the following types, then the schema can be integrated in an apollo federation gateway
[code]

The spec is [here](https://www.apollographql.com/docs/apollo-server/federation/federation-spec/)
[

[2019-09-20 09:39] abusi commented on #299
Hi @remorses, Yep, this could be a cool feature. And it is well suited to be in a Tartiflette-plugin-apollo-federation.
I have to dive in the spec to see if we have everything ready in the engine for it to be implementable. But yes, it's a very good idea.
Do you wanna work on it ?

[2019-09-20 14:12] remorses commented on #299
Yes i will work on it. Do you know if there is a way to access the complete sdl string from the resolver arguments? The spec requires that `_Service.sdl` returns the complete graphql schema. Or maybe the schema node classes can be dumped in sdl syntax?

[2019-09-20 14:29] abusi commented on #299
Hum, that why I have to take time to read this spec, There are somethings that are not doable rightnow, I need to find what is needed in the Engine itself so you could implemented the Plugin and we can implement the Engine/Schema interface for you to use.

[2019-09-21 10:25] remorses commented on #299
I made a basic implementation at https://github.com/remorses/tartiflette-plugin-apollo-federation
Still it needs an implementation of the `@key` directive and surrounding pieces.
For that to work i need `on_bake` method in the directives class.

[2019-09-21 11:54] abusi commented on #299
Yeah we'are working on this rigth now at the office. As it is a requirement for a lot of coool features, we wanna do it right, that's why we're taking some time to do it.

I'll ping you on the PR when it will be ready to show and comment. It's coming soon.

[2019-09-21 13:08] bobh66 opened #301 "Embedded libgraphqlparser build fails with latest ctypesgen"
## Report a bug

* [X] **Explain with a simple sentence the expected behavior**
The build of the embedded libgraphqlparser fails with the latest ctypesgen module.

* [X] **Tartiflette version:**  - latest

* [X] **Python version:** _3.6, 3.7_

Since ctypesgen 0.1.1 (now 1.0.0) it has installed as "ctypesgen" instead of "ctypesgen.py".

The CMakeLists.txt for libgraphqlparser only looks for "ctypes

[2019-09-23 08:46] abusi commented on #301
I'll wait a littlebit for a reaction on the official repo, if they merge it, i'll rebase. If nothing happens there, i'll merge you PR on tartiflette/libgraphqlparser and release a tartiflette 1.x.y with it.
And, tartiflette don't need all this python2 things and I don't want to have to maintain all this.
I don't responsability over libgraphqlparser.
We'll see how it goes. Maybe we'll really fork c

[2019-09-23 17:31] shalseban commented on #297
@abusi

Thank you for that explanation. That makes sense. I am not exactly trying to do a CodeFirst approach but I see why it seems like it. The `directive` approach might be helpful and will look forward to it. :)

To give more clarity just in case you are interested:
I was planning on mutating the `GraphQLSchema` object and re`cook`ing to ensure everything works as required.  I am trying to keep

[2019-09-23 17:32] #297 closed

[2019-10-01 07:41] #298 closed

[2019-10-01 13:27] Maximilien-R opened #309 "The `error_coercer` filled in at engine initialization isn't taken into account"
While `error_coercer` parameter from the `create_engine` utility function or `cook` method from `Engine` class is properly taken into account, the `error_coercer` from the `__init__` method of the `Engine` class isn't.

* **Tartiflette version:** 1.0.0
* **Python version:** 3.7
* **Executed in docker:** No

[2019-10-02 13:08] #309 closed

[2019-10-03 06:36] florimondmanca commented on #301
I also encountered this while trying to upgrade to 1.0 to try out `tartiflette-starlette` on that version.

Link to the issue on the upstream repo: https://github.com/graphql/libgraphqlparser/issues/89

[2019-10-03 06:43] florimondmanca commented on #301
I can confirm that installing Tartiflette requires the `python2` to be available — not sure if this is new (I reinstalled 0.12.5). I had to tweak my pyenv setup to account for this:

[code]

[2019-10-03 13:47] abusi commented on #301
Yes, what I mean is that it shouldn't need it. but it's mandatory in the cmakelist of libgraphqlparser.
I don't really know what to do here, cause if I update my branch on my libgraphqlparser, it will go farther from libgraphqlparser main repo, and I really don't want to have to maintain a fork.
I'll see if I found the time to think of something, or at least to finish working for my branch to be m

[2019-10-07 08:45] #134 closed

[2019-10-08 22:13] un33k opened #317 "Pagination support"
[ x ] Feature Request
[ x ] Documentation

If pagination is supported, be nice to include it in documentations. If there is no plan to support it, it'd be nice to provide an example for developers to role their own. Otherwise, let's keep this issue around to track the pagination feature.

[2019-10-09 07:44] florimondmanca commented on #301
Is there any way we can restrict the version of ctypesgen to 0.x on our side? Or maybe push the fix from https://github.com/graphql/libgraphqlparser/pull/90 to our fork and release it while things get sorted out on the official repo?

I'm still encountering this issue on macOS Mojave / Python 3.7.4 / Tartiflette 1.1.0, and this is definitely blocking other users from upgrading to Tartiflette 1.0.

[2019-10-09 07:51] florimondmanca commented on #301
As for the Python 2 issue,

Would pushing (as in: contributing) for upgrading the Python 2 scripts in `graphql/libgraphqlparser` to Python 3 be acceptable?

You wrote:

In my point of view though, `libgraphqlparser` *is* our responsability — we're using it to power our parser layer; it's an important dependency, and we should care for it.

If people from the main repo don't have the resources/inte

[2019-10-09 08:32] abusi commented on #301
@florimondmanca
I think that it is what i'm going to do. I'm going to clean the tartiflette/libgraphqlparser repository from everything that is python2 dependant. and use this version in tartiflette and produce a 1.1.1 with it.

In the end, we need it to work. What I mean in my previous comment is that I may not have the time to take care of it. But in the end it is very important, so I'll have to

[2019-10-09 11:43] abusi commented on #301
@bobh66 Can you try using `pip install -i https://test.pypi.org/simple tartiflette==1.1.1.dev1570620494 --extra-index-url https://pypi.org/simple` and tell me if it's working for you ? Thanks.

[2019-10-09 11:46] abusi commented on #317
Hi @un33k, thank you for you for this issue.
Pagination is not a Tartiflette Problem as it can be expressed through SDL and resolver, BUT,
We plan to provide a `tartiflette-plugin-relay` that will help you easily say that you want a field to be paginated automatically.
In order to achieve this, we need some tweak to the engine that I hope to deliver Soon :tm: into the 1.2.x branch of Tartiflette.

[2019-10-09 11:50] abusi opened #319 "Support Hook `schema bake` hook for plugin"
This issue will enable #317 and #299 to be started.

The idea here is call a directive before the baking and validation of the schema so it can produce schema object regarding it's plugin conf, it's instance parameters and it's position.

[2019-10-09 18:25] abusi opened #320 "Provide a manylinux and macos bdist_wheel"
Modify the setup.py so it produce bdist_wheel for manylinux including the libgraphqlparser.so/a
Modify the build process so this wheel is uploaded to pypi
Modify the cffi part of tartiflette/parser so it loads this lib instead of the local one.

[2019-10-10 09:06] #301 closed

[2019-10-19 08:40] siejqa commented on #320
Hi @abusi,  can I start working on this?

[2019-10-21 07:07] abusi commented on #320
@siejqa Yes you can, with pleasure.

[2019-10-26 00:17] AutumnalDream commented on #230
What's the status and is there anything I can help with on this?

[2019-10-26 00:21] AutumnalDream opened #323 "Have two DateTime times, NaiveDateTime and DateTime?"
## Request a feature

* A part of the project could be improved?

Would it make sense to have two DateTime scalars, one timezone naive and one not?

[2019-10-26 12:54] zer0tonin commented on #323
@AutumnalDream it might be better suited for the plugin https://github.com/tartiflette/tartiflette-plugin-scalars

[2019-10-27 09:01] Maximilien-R commented on #323
I agree with @zer0tonin. Especially since we are thinking about removing the `Date` and `DateTime` scalars provided by `tartiflette` since both of them are not part of the [GraphQL specification](https://graphql.github.io/graphql-spec/June2018/#sec-Scalars). Thus, it makes more sense to distribute them through plugins such as [`tartiflette-plugin-scalars`](https://github.com/tartiflette/tartiflett

[2019-10-27 13:56] florimondmanca commented on #230
@AutumnalDream I don't think there has been progress since the opening of this issue. Hints on how to contribute docs are [here](https://github.com/tartiflette/tartiflette#how-to-contribute-to-the-documentation). I think the first step would be to rephrase the highlight on the docs first page, e.g.:

[code]

[2019-10-28 19:59] florimondmanca opened #325 "Consider display on graphql.org?"
The [Code](https://graphql.org/code/) page on the GraphQL website lists GraphQL engines and clients for a variety of languages.

Now that Tartiflette reached v1, should there be a push to have Tartiflette listed on the [Python section](https://graphql.org/code/#python)? :-) Currently, only Graphene is listed there.

I believe the relevant code is [here](https://github.com/graphql/graphql.github.io

[2019-10-29 08:56] tsunammis commented on #325
@florimondmanca there is already an open pull-request -> https://github.com/graphql/graphql.github.io/pull/673/files

I'll update it with `tartiflette-asgi`.

[2019-11-19 14:42] jamessmith-decisionlab opened #331 "Tartiflette fails to build libgraphqlparser on install"
* Tartiflette fails to build libgraphqlparser on install.
* Python version is 3.7.4
* Not executed in Docker, but here is the trace:

[code]

[2019-11-19 14:44] jamessmith-decisionlab commented on #331
I can't offer much wisdom on why `cmake` would fail to build, I'm afraid. Perhaps this has something to do with Python? I did try to build `libgraphqlparser` from source, and it complained that I was using Python@3.

[2019-11-20 14:35] jamessmith-decisionlab opened #332 "Subscriptions do not work in the getting started example"
`tartiflette-aiohttp` = "^0.8.4"

Python version is 3.7.4

I've copied the code from the getting started example on the website line for line, but the subscriptions aren't working. The default subscription resolver on line 145 of the `factory.py` file is being invoked rather than the one defined in the application.

Please can you check?

[2019-11-21 06:58] tsunammis commented on #332
Hello @jamessmith-decisionlab .

Thank you for this bug report, we will take a look of it.

[2019-11-21 09:13] dmitry-sobolev commented on #331
Did you install all dependencies from [README](https://github.com/tartiflette/tartiflette#installation-dependencies)? I've had similar error and it was solved when I installed these packages.

[2019-11-21 09:58] jamessmith-decisionlab commented on #331
I have `cmake` version 3.15.5, `flex` version 2.5.35 and `bison` version 2.3 installed.

A few observations...

1. Mac users can install `libgraphqlparser` directly with Homebrew. I'm sure Linux users can install it, too. Therefore, could you not get the installation script to check whether `libgraphqlparser` is present on the path before attempting to build it?

2. I did clone and then try to bui

[2019-11-21 10:07] dmitry-sobolev commented on #331
On my host machine (Ubuntu 18.04):
* `bison` version 3.0.4
* `flex` version 2.6.4
* `cmake` version 3.10.2

In docker (`python:3.8-alpine`):
* `bison` version 3.3.2
* `flex` version 2.6.4
* `cmake` version 3.14.5

[2019-11-21 10:10] jamessmith-decisionlab commented on #331
Thanks!

Let me see if I can get `bison` version 3 installed. Homebrew doesn't want to do it, but I'll find another way.

[2019-11-21 10:11] jamessmith-decisionlab commented on #331
Do you have any comment to make on the first point I made, namely your installation script checking to see whether or not `libgraphqlparser` is already installed?

[2019-11-21 10:19] Maximilien-R commented on #331
Hi @jamessmith-decisionlab,

You shouldn't have to build `libgraphqlparser` from source, especially since we have our own version of it. When installing `tartiflette` it'll build `libgraphqlparser` on its own (that's why you need `cmake`, `flex` & `bison` as dependecies.

There is a known issue on macOS when installing `bison` from `brew`. When installed through `brew`, the `bison` version used by

[2019-11-21 10:34] jamessmith-decisionlab commented on #331
Forcing version 3 of `bison` to take priority indeed got the install working.

I'll add my thoughts on how to do that below for the sake of anyone else coming here.

In fact, Homebrew already had it installed. I don't quite know the ins and outs of it, the StackOverflow answer you pointed out is a little confusing. However, in fairness, it does point out that you can force version 3 of `bison` to

[2019-11-21 10:34] #331 closed

[2019-11-21 10:37] abusi commented on #331
@jamessmith-decisionlab also we have this issue #320 that should remove these build deps, if you have some insight on how we could do it, you could comment on it.
Thanks for raising this issue, thank you @dmitry-sobolev and @Maximilien-R for the help.

[2019-11-21 10:39] jamessmith-decisionlab commented on #331
Thanks @abusi. I can't offer any insights, I'm afraid, this is far from my areas of expertise.

[2019-11-25 13:39] remorses commented on #320
I am taking care of this, pull coming soon

[2019-11-29 10:35] jamessmith-decisionlab opened #335 "Subscribing to a subscription from the client side."
Hi,

I have implemented subscriptions on the server side as per your getting started tutorial. On the relevant page...

https://tartiflette.io/docs/tutorial/running-a-subscription

...I see that you do not provide the code to subscribe to the subscription using Python, you simply subscribe to it via the GraphiQL client. However, on this page...

https://tartiflette.io/docs/api/subscription

...it

[2019-11-29 10:52] abusi commented on #335
I'm not sure that I understand your problem. Can you be more specific about what you're trying to achieve ?

Today subscriptions in `tartiflette-aiohttp` support WebSocket only using Aiohttp Websocket classes. (https://github.com/tartiflette/tartiflette-aiohttp/blob/master/tartiflette_aiohttp/_subscription_ws_handler.py).

The subscriber should then implement websocket protocols.

If you want to s

[2019-11-29 10:58] jamessmith-decisionlab commented on #335
Hi, thanks for the prompt response.

It is difficult to find the words but let me try again.

Your getting started tutorial explains how to set up subscriptions on the *server* side. I want to set up subscriptions on the *client* side.

At the moment, I can only subscribe to the subscriptions via the GraphiQL client. I want to subscribe to the subscriptions *programmatically* using your library.

[2019-11-29 11:00] jamessmith-decisionlab commented on #335
I would expect something like:

[code]
Do you see what I mean?

[2019-11-29 11:09] jamessmith-decisionlab commented on #335
Here is something that comes close...

https://github.com/ecthiender/py-graphql-client

...but it doesn't support HTTP, or HTTPS for that matter. I would like to use your equivalent.

[2019-11-29 12:44] Maximilien-R commented on #335
Hi @jamessmith-decisionlab,

If I do correctly understand your need, you would like to hit your GraphQL service through another Python service (or script) programmatically?

If so, IMO, it's a client issue and not related to Tartiflette itself. We don't provide client utilities at the moment and we don't plan to since we unfortunatly don't have enough time to work on such things like a Python clie

[2019-11-29 12:47] abusi commented on #335
@jamessmith-decisionlab we currently do not provide client side librairy as our lib (`tartfilette`) is integretion independant (meaning it's the user that choose the web server and protocol, http is not even mandatory, `tartiflette` is able to be under a gRPC server for example).

If you think that is something missing to our universe, feel free to create one and we'll gladly add it to the organiz

[2019-11-29 13:16] jamessmith-decisionlab commented on #335
Hi, thanks for the clarification.

It seems to me you have already started client side support, as the first listing on this page testifies:

https://tartiflette.io/docs/api/subscription

I definitely think you should consider finishing it.

In a meantime, however, I will try out https://github.com/ecthiender/py-graphql-client.

[2019-11-29 13:16] #335 closed

[2019-11-29 13:36] jamessmith-decisionlab commented on #335
Many thanks for responding to all my questions lately, by the way!

[2019-12-04 19:01] dmbasso opened #337 "Extensibility without directives"
Hello, first of all, thank you for your work. I'm wondering how (if at all currently possible) to hookup field execution on a global level; the use-case is pretty easy to explain: I want *all* queries, mutations, and subscriptions to be access restricted by default, and directives would be used to loosen the restrictions on a case-by-case basis. Is that possible with Tartiflette's current API?

[2019-12-05 16:08] abusi commented on #337
Hi in Tartiflette 1.1.1 you could implement a directive with a `on_schema_excution` and `on_schema_subscription` hooks. This will be called before the request is executed or the subscription generated.
Then on your sdl you'll have:
[code]
Or
[code]

I think there is some doc somewhere about this.

[2019-12-05 16:12] abusi commented on #337
https://tartiflette.io/docs/api/directive should have all the info you need.

As the graph is resolving parent before child we can deny then allow some child. If the root node is deny, then the whole tree is denied.

[2019-12-08 18:49] dmbasso commented on #337
Thanks for the clarification, I was not aware of the schema directives.
If I understood correctly, all access restriction logic would have to be put in on_schema_(subscription|execution), where I'd have to traverse the document and collect the field directives that were parsed (as I can't use the on_field_execution because it is processed later on the pipeline). I'll try to implement it. But I was

[2019-12-08 18:49] #337 closed

[2019-12-09 08:34] abusi commented on #337
@dmbasso, I'm not really sure I've understood what you're trying to achieve.

[code]

I'm not in favor of this. I prefer for things to be explicit, you add the @dir to the node you want.
Note that you can also add directive to type/interface which could allievate the fact that you need to mark each node.

[2019-12-09 11:02] bazz opened #338 "bench"
Do you want to **report a bug?** or **request a feature?**, please keep the corresponding template.

## Report a bug

Please provide the steps to reproduce your problem and, if possible, a full reproducible environment. **As we are working directly with containers, please provide the Dockerfile sample or the Docker image name**

* [ ] **Explain with a simple sentence the expected behavior**
* [ ]

[2019-12-09 11:02] #338 closed

[2020-01-29 12:21] GeoBSI opened #345 "on_schema_subscription needs to be a staticmethod?"
## Issue

Tried implementing the on_schema_subscription as shown on the documentation: https://tartiflette.io/docs/api/directive

The app fails on `_validate_directive_implementation(self)` with the error message `Directive Auth Method on_schema_subscription is not an Async Generator`.

It works if I decorate the on_schema_subscription as a `@staticmethod`

Related issue:  https://github.com/tarti

[2020-01-29 12:24] GeoBSI opened #346 "Directive before calling the subscription generator"
## Issue

I want to implement a directive for authentification on a subscription. I want it to be called before the subscription generator to completely block the process if the auth fails.

My first try was with the on_field_execution directive but the directive gets called on every yield of the subscription generator. The response gets blocked on auth failures but the subscription process still

[2020-01-29 12:26] GeoBSI commented on #346
Are the on_schema_* method called only if there are graphql schemas?

I tried adding the following in my GraphQL file but I still can't manage to get the log from the on_schema_* methods:
[code]

[2020-02-05 12:50] jedie commented on #32
I noticed Performance issues with large data sets with graphene, too: https://github.com/graphql-python/graphene/issues/268
So i test tartiflette by making a small benchmark and compare with graphql-core...

But I am surprised that **tartiflette** (~57ms) is even significantly slower than **graphql-core** (~20ms).

My benchmark code:

**tartiflette**: https://gist.github.com/jedie/45ddf8ee7e24704c

[2020-02-05 15:23] abusi commented on #346
Now that we've fixed #345 with the #349 PR i'll try to reproduce this with the fix.
Thank you @GeoBSI

[2020-02-05 16:03] abusi commented on #346
@GeoBSI
looking at your SDL i found that you simply didn't apply the directive to the schema.
Using : ```type Subscription {
    analyze(
        text: String): String
    @auth(role: "SUBSCRIPTION_ON_NOTIFICATION")
}

type Query {
    analyze(
        text: String): String
    @auth(role: "QUERY_ANALYSIS")
}

directive @auth(role: String!) on FIELD_DEFINITION | SCHEMA

schema @auth(role: "a_role"

[2020-02-05 16:04] abusi commented on #346
After translating your code into a test case and simply modify the schema to apply the directive to the schema object, then ```collected 6490 items / 6489 deselected / 1 selected

tests/functional/regressions/test_issue346.py Directive auth - on_schema_subscription
Check auth
F

======================================================================================= FAILURES =======================

[2020-02-05 16:07] abusi commented on #346
Maybe this is not clearly documented :/

[2020-02-05 16:23] #345 closed

[2020-02-20 14:05] abusi opened #356 "Remove the Bison and Flex deps."
By fixing the libraphqlparser CMakeList.txt, we are able to built without bison and flex.
See https://github.com/tartiflette/libgraphqlparser/pull/2/commits/80e9b6ece532f54a283463603941522ce0a1b984.

[2020-02-20 15:08] abusi commented on #319
We need to think again about this feature.

[2020-02-21 07:03] #356 closed

[2020-02-26 12:29] Dodobibi opened #358 "Chaining directives call's order are inverted"
## Report a bug

Is there a reason for reversed the order of directives_definition ?

https://github.com/tartiflette/tartiflette/blob/f4d6d110237efb7f571184697ca97124c8625e98/tartiflette/utils/directives.py#L258

This results in the **inverted** invocation of directives

* **Tartiflette version:** 1.1.3
* **Python version:** 3.8.2
* **Executed in docker:** No

Schema for reproduction
[code]

These

[2020-02-26 23:28] Dodobibi commented on #358
Some server implementations execute directive from RTL instead LTR.
It's not a bug !

[2020-02-26 23:28] #358 closed

[2020-03-02 14:09] Maximilien-R opened #361 "Customize arguments coercion"
## Issue

It would be helpful to have an option to customize the way arguments are coerced.

## Proposition

Add an argument `arguments_coercer` to `tartiflette` decorators:
[code]

This argument could also be added to the decorators `@Directive` & `@Subscription`.

In addition, an additional argument at the initialization of the engine allowing to overload the coercer by default could also be use

[2020-03-02 14:10] abusi commented on #361
:+1:

[2020-03-02 14:19] Maximilien-R opened #362 "Allow to provide a custom JSON loader"
# Issue

Currently, the [`parse_to_document`](https://github.com/tartiflette/tartiflette/blob/58669a3e6c907431bc77ab08e2c3a00f7dd8b70e/tartiflette/language/parsers/libgraphqlparser/parser.py#L127-L156) function in charge of parsing requests uses the built-in `json.loads` function which is not necessarily the most efficient. It would be interesting to allow developers to provide a callable which wo

[2020-03-02 14:31] Maximilien-R opened #363 "Custom query cache decorator"
# Issue

Currently, the parsing of queries are cached thanks to the use of the decorator `@lru_cache`. Unfortunately, there is no way to act on this decorator (neither remove it nor increase the number of cachable items).

It might be helpful to provide a way to override this behavior by providing a custom decorator to cache (or not) requests differently.

# Proposition

Add an argument `query_cac

[2020-03-02 16:39] mkniewallner opened #365 "Reliable way to retrieve argument a directive is applied to"
## Issue
There's currently no reliable way to retrieve the name of the argument a directive is applied to on directives methods.
For `on_argument_execution`, `argument_node` is available, but when a default value is provided in the schema and no value is passed at execution time, `argument_node` is `None`.
For `on_post_input_coercion`, there's simply no way of retrieving the name of the argument.

[2020-03-03 08:14] #363 closed

[2020-03-03 12:47] #362 closed

[2020-03-03 13:22] #361 closed

[2020-03-06 10:40] Maximilien-R opened #370 "Enum type validation issues"
Seems like there is two issues regarding the validation of Enum types:
1. an Enum type can define non unique enum values which conflict with the [GraphQL specification](http://spec.graphql.org/June2018/#sec-Enums)
2. an Enum type can't define an enum values with the same name than another type definitions

* **Tartiflette version:** 1.1.3
* **Python version:** 3.7.6
* **Executed in docker:** No
*

[2020-03-06 13:26] Maximilien-R opened #372 "An object type must be a super‐set of all interfaces it implements"
* **Tartiflette version:** 1.1.3
* **Python version:** 3.7.6
* **Executed in docker:** No
* **Is a regression from a previous versions?** No

Seems like the validation regarding object fields isn't properly implemented.

For example:
[code]

`Video.metadata` raise the following error:
[code]

However, `VideoMetadata` is a possible type of `MediaMetadata` interface which, regarding the [GraphQL spe

[2020-03-06 13:29] abusi commented on #372
Will work on it ASAP, schema validation is not really up "to spec". We did a big effort on Query validation. Seems that Schema one also needs some love.

[2020-03-06 13:30] #370 closed

[2020-03-09 15:00] #372 closed

[2020-04-01 15:30] jalelegenda opened #378 "Want a directive to run on INPUT_FIELD_DEFINITION with access to query argument values"
## Want a directive to run on input field definition and be able to access `args`

I have this case
[code]

[code]

If there's a way to make the above scenario work, without mucking up the resolver, I'd gladly try it.
I've also tried with FIELD_DEFINITION, but that's illegal, as far as I can tell.

[2020-04-04 09:49] jalelegenda commented on #378
I've solved this with a combination of INPUT_OBJECT on the parent input type and FIELD_DEFINITION on the resolving type. I'll leave this issue open for you guys to consider. Feel free to close it, though.

[2020-04-05 00:02] abusi commented on #378
Hi @jalelegenda
Can you paste a copy of your solution ?
Thanks you.

[2020-04-06 21:15] #378 closed

[2020-04-06 21:15] #346 closed

[2020-04-09 00:16] barrachri opened #379 "Accessing field's argument"
# Report a bug

[code]

[code]

If I run the query

[code]

I'd expect `args` to contain "unit: "METER" but is an empty dict though the `info.field_nodes` contains the argument value.

[code]

* [x] **Explain with a simple sentence the expected behavior**
* [x] **Tartiflette version:** 1.1.3
* [x] **Python version:** 3.8
* [x] **Executed in docker:** No
* [ ] **Dockerfile sample:** _Link of sample

[2020-04-09 05:13] Maximilien-R commented on #379
Hi @barrachri,

According to your SDL, `unit` is an argument of the `Table.length` field. This is why you don't have it on the `GetTables` function which resolves the `Query.tables` field.

To get the value of this argument (and maybe change the return value of your `Table.length` field), you should implement a dedicated resolver for it, eg:
[code]

[2020-04-09 14:29] barrachri commented on #379
Thanks @Maximilien-R

Do you think is worth adding this example to the documentation? I'm happy to create a PR.

[2020-04-11 23:21] abusi commented on #379
Why not, if the doc isn't clear enough, you can propose a PR, i'll be glad to review it. @barrachri

[2020-04-24 09:00] jalelegenda commented on #378
Sure thing @abusi. Here's what I did:

[code]
On the schema I defined a directive that will be placed on the field of the query and on the input type, that's used in the same query, containing the parameters we want to limit.

[code]
The idea is that once the input type has been coerced, we check inside the value dictionary whether it contains the exclusive pairs, which I defined inside the direct

[2020-04-28 13:12] jalelegenda opened #381 "OBJECT supporting directive does not run if object is a part of union"
* [ ] **Explain with a simple sentence the expected behavior**
I think the title covers the problem pretty much. The problem is easily reproducible.
I'm sorry, I can't provide the `Dockerfile` example. The image we're using is `python:3.8-alpine`, if that carries any weight.

Interestingly, placing the directive on the union definition will run the directive, despite the directive not supporting t

[2020-04-30 07:40] abusi commented on #381
Thanks. I'll look at it soon.

[2020-04-30 14:05] Maximilien-R commented on #365
Hi @mkniewallner,

You right, `argument_node` from `on_argument_execution` can be `None`. This value depends on if the argument has been provided in the GraphQL query or not. We'll make the update regarding the typing and the related documentation (good catch 👀 ).

Regarding the fact:

We'll add a new argument `argument_definition_node` on the `on_argument_execution` which will contains the `Node`

[2020-05-02 18:12] #365 closed

[2020-05-06 08:17] Maximilien-R opened #389 "[v2] Implement a generic validation system"
Currently, validation of SDL and requests are very distinct and not uniform.

As part of the development of v2, it could be interesting to develop a common validation system based on the notion of `DocumentNode` which was introduced in v1.

In the idea, a system similar from the one of the GraphQL reference implementation ([graphql-js] (https://github.com/graphql/graphql-js/blob/master/src/validat

[2020-05-06 08:33] Maximilien-R opened #390 "[v2] Implement a CLI"
In order to improve the developer experience, it could be interesting to develop a `CLI` dedicated to `tartiflette`.

This CLI could integrate a certain number of built-in commands, but it should be easy to extend using a third party package. A quick and easy solution to implement could be to rely on [`click`](https://click.palletsprojects.com/en/7.x/) which allows the [extension relatively easily

[2020-05-06 09:08] Maximilien-R opened #391 "[v2] Remove "Engine" notion"
The notion of `Engine` is relatively abstract and pretty tied to `tartiflette` itself.

In the context of the development of a v2, could we not consider the removal of this notion of `Engine` in favor of the notion of `GraphQLSchema` and start on a more homogeneous solution with standards and existing solutions?

The `Engine` class is mainly used to abstract the `bake` process of the `GraphQLSchem

[2020-05-06 09:55] abusi commented on #224
I think this is done now when #383 will be merged. I'll mark it as closed.

[2020-05-06 09:57] Maximilien-R opened #392 "[v2] Improve InputField coercion directive"
The ISSUE-365 brought up a design problem tied to the `on_post_input_coercion` hook.

Currently, there are two directives related to the coercion of input values:
* `on_argument_execution`: dedicated to `Argument` (in our case `identify` & `info`)
* `on_post_input_coercion`: linked to the coercion of `InputField`, `Scalar`, `Enum` and `EnumValue`

Using `on_post_input_coercion` for `InputField` re

[2020-05-06 09:57] abusi commented on #317
Closing this as explained. We'll work on a plugin/cli in order to simplify the writing of SDL/Resolver compliant with pagination.

[2020-05-06 09:57] #317 closed

[2020-05-06 09:58] abusi commented on #319
I think it'll be done in V2 as we plan to rewrites the schema baking mechanism completely.

[2020-05-06 10:03] #224 closed

[2020-05-06 10:03] #381 closed

[2020-06-15 18:37] lishine opened #404 "Redis"
Is there a redis subscription example?
#123 still relevant?

[2020-06-16 08:13] abusi commented on #404
Hi @lishine can you be a little bit more specific ?
I don't think we have any redis based subscription example available.
Maybe @Maximilien-R have some ?

[2020-06-16 08:51] lishine commented on #404
The inlcuded example in the docs is a generator.
How to integrate it with pubsub like redis.

[2020-06-16 09:00] abusi commented on #404
The way I see this is, first before the async for, on client connection, you pub into a redis pubsub to notify your server that you are ready, then he sends you a new "pubsub" name were you sub and then you do async for message.wait(), then you should be able to yield all messages to the subscription client.

[2020-06-25 19:26] lishine opened #406 "Types generation"
Is there an approach for types generation from the scheme?

[2020-06-26 06:41] abusi commented on #406
Can you be more explicit ?

[2020-06-26 08:20] lishine commented on #406
Generate the types of resolver parameters from the types in the scheme.
The graphql-code-generator does not generate types for python.

[2020-06-26 08:30] abusi commented on #406
You want something that generate python code from SDL Scheme ? It is not yet available in Tartiflette, https://github.com/tartiflette/tartiflette/issues/390 should take care of this.

BUT for tartiflette, you do not need to have types, your resolver can return dict, it will still work.

[2020-06-26 08:44] lishine commented on #406
More like types generation.
With typescript, types of the resolvers are generated, then imported as Resolvers and used like this:
[code]
No need to annotate types the resolver or their params.
The resolver names and parameters get type checking and intellisense.

[2020-06-26 08:49] abusi commented on #406
Yeah, It doesn't exists yet for tartiflette, you have to annotate your code manually.

[2020-06-28 09:42] #406 closed

[2020-06-28 09:42] #404 closed

[2020-08-03 20:25] themasterking90 opened #417 "ERROR: Failed building wheel for tartiflette"
Do you want to **report a bug?** or **request a feature?**, please keep the corresponding template.

## Report a bug

Please provide the steps to reproduce your problem and, if possible, a full reproducible environment. **As we are working directly with containers, please provide the Dockerfile sample or the Docker image name**

*  **Python version:** _3.8.1_
*  **Pip version:** _20.2_

DEPRECATIO

[2020-08-03 20:29] abusi commented on #417
@themasterking90 thanks for bringing this to our attention,
Can you provide a PR in order to fix this ?

[2020-08-10 20:16] jugdizh commented on #299
I'm interested in this feature too. Are there any updates?

Thanks

[2020-08-11 07:47] abusi commented on #299
@jugdizh the plan is to have this possible in v2. RN @Maximilien-R is working on a refactoring of the validation side of the schema and query which will be the starting point of the v2 branch in which we will completly rework the schema side of tartiflette to enable these kind of feature. I think, we'll be there for 2021.

[2020-08-11 22:47] mfigurski80 opened #420 "Cross-resolver parameters"
First of all, just want to tell you that I really appreciate your work on this library so far, and my experience with is has been very positive. Of course, I'm very new and not fully familiar with it.

However, have come up against a use case recently that I'm not sure is possible to implement in Tartiflette. Specifically, looking to do more complex 'filtering' based on the properties of subfields

[2020-08-12 07:38] abusi commented on #420
i'm not sure I understand the problem.

I need more details, the filtering isn't possible inside the experiment resolver ?

[2020-08-25 06:53] Maximilien-R opened #429 "[v2] Allow usage of @Resolver on interface fields"
As an upgrade for the version 2, it could be helpful to provide resolvers to interface fields.

This would allow to have an additional layer on the resolving process and to more easily share code through object types.

For instance, if we had this SDL:
[code]

We could implements a resolver like this one which will apply for each `id` fields on each object type implementing the `Node` interface:
[

[2020-08-25 08:44] #391 closed

[2020-08-27 19:16] Maximilien-R commented on #392
After internal discussions, we'll propose a new API regarding hook directives. This will result into significant break changes.

Here is the diff regarding existing hook:
[code]

The `on_argument_execution` has been renamed into `on_post_argument_coercion` to gain clarity and consistency with hooks of the same order. Its method prototype has changed too, we'll drop the `argument_node` parameter wh

[2020-08-28 20:55] #392 closed

[2020-08-28 20:55] #429 closed

[2020-09-29 08:12] mazzi opened #445 "Tartiflette fails to build libgraphqlparser on install"
Tartiflette fails to build libgraphqlparser on install using `poetry install`.
Looks similar to https://github.com/tartiflette/tartiflette/issues/331 but different.

* Tartiflette version: 1.2.1
* Python version: 3.8
* Executed in docker: No
* Bison: 3.7.2
* Flex: 2.6.4
* CMake: 3.18.3
* libgraphqlparser: stable 0.7.0 (bottled)

[code]

Also in my `~/.bash_profile`

[code]

Thanks for your support

[2020-10-23 15:51] sebastiandev opened #452 "Middlewares?"
## Request a feature
From the docs and the code I can't seem o find a way of defining middlewares. I wouldn't want to do it with directives as I would have to manually decorate every operation.  The only way I can think of is by extending the `Resolver` decorator and adding the middleware logic there, although that's not a real middlware.

Are there any plans to add this? Other GraphQL libraries a

[2020-10-23 15:59] sebastiandev commented on #452
Alright, I think I found something deep in the docs
[code]
Is this the suggested way of adding middlewares?

[2020-10-23 16:09] abusi commented on #452
Hi @sebastiandev, the "middleware" paradigm can be achieve through on_schema_execution directives.
But, IMHO, middleware is a thing for the HTTPEngine, not really for the graphql query executor, because the graphql way to extend behavior is via Directive. With the idea of Schema Directive we thought that it could bring a "middleware" like feature while still being rigth in the GraphQL way of thing

[2020-10-23 17:16] sebastiandev commented on #452
@abusi thanks for getting back. Well, I just found the  `on_schema` directive after creating the issue. That seems like it would solve the issue. The middleware thing is a bit more universal and easier to pick up conceptually. Also the other graphql libraries have middlewares so maybe that contributes to the confusion. I think some docs with some concrete examples would be great for those coming f

[2020-10-23 20:12] sebastiandev opened #453 "Exceptions in directives are not handled"
## Report a bug

Raised exceptions in directives are not handled and I get a 500 internal server error. I have checked defining an error coercer and the exception is not received there either.

version: 1.2.1
python version: 3.6.8
stack:
[code]

Directive looks like:
[code]

[2020-10-23 21:16] abusi commented on #453
Hum, it should work fine, sorry for this. I'll look into it on monday. Thanks for this report.

[2020-10-25 19:20] daveoconnor commented on #452
Sorry if I'm butting in here out of place but trying to do auth via middleware was a problem I was facing too and I asked in the chat and they suggested doing it via aiohttp middleware. I worked but was a little more cumbersome than I thought would be ideal so I created something a while back that I think may help.

https://github.com/daveoconnor/tartiflette-request-context-hooks

Maybe I should h

[2020-10-25 21:20] sebastiandev commented on #452
I'm trying to do the same but the problem is that I'm using FastAPI and mounting a tartiflette app with tartiflete-asgi. I've created [this question](https://stackoverflow.com/questions/64504606/tartiflette-fastapi-auth) in stackoverflow. The problem lies in how tartiflette-asi integrates with asgi servers, is not easy to use the FastApi goodies like dependencies.  I was going to go for the http a

[2020-10-25 22:09] daveoconnor commented on #452
You lost me with the FastAPI details. I haven't used it but it seems strange to me that FastAPI is in the mix here at all.  It makes more sense to me that someone would just use [tartiflette-asgi](https://github.com/tartiflette/tartiflette-asgi) and keep FastAPI out of the loop completely, but maybe I'm not aware of something about your setup. It just makes for a simpler system in my eyes.

It sou

[2020-10-25 22:59] sebastiandev commented on #452
I'm might be completely wrong, but, for example we need `/health` endpoints, and those are usually simple rest ones. We have always approached the graphql apps by mounting them in a flask or fastapi server.

We are not really doing full blown oauth in this particular app, its just a token or api key sent as a header that we just validate and use to get the actual user.

How would a plain asgi appr

[2020-10-25 23:03] daveoconnor commented on #452
Sounds like you're replying based on the email you'd have gotten from github. I've deleted that paragraph questioning the use of FastAPI because I'm probably just out of the loop there so let's just pretend I didn't comment about that :)

It's worth reading my updated comment from this thread rather than the initial email you got. I've clarified some details that might help.

[2020-10-26 08:48] abusi commented on #452
@sebastiandev At the core, tartiflette is only a graphql executor, you could do.

[code]

@app.post("/graphql")
async def graphql_ninja(... = Depends(...)):
      ....
      data: Dict[str,Any] = _ENGINE.execute(...)
      ....
[code]

[2020-10-26 12:39] sebastiandev commented on #452
@abusi Ah! that sounds like what I need. I didn't realize about that, I was just determined to make it work with tartiflette-asgi but this looks just perfect. Thanks!

@daveoconnor I will still take a look at you suggestion It might come handy eventually, so thanks for the tip as well.

[2020-10-26 13:41] sebastiandev commented on #452
I've borrowed some code from tartiflette-asgi and created this class to wrap the whole thing
[code]

When processing a request we can send any custom context we need to inject in the graphql context. So we can use that to add the current user or any other data.

[2020-11-03 11:31] garyd203 opened #457 "Improve performance for I/O bound list resolvers by using parallel execution"
At the moment, when an output list contains objects that themselves have an I/O bound resolver (eg. a secondary network RPC call to add more fields to the list items), then the list item resolvers are executed sequentially (see [discussion yesterday](https://github.com/tartiflette/tartiflette/pull/456), and also the [original PR](https://github.com/tartiflette/tartiflette/pull/367) that introduced

[2020-11-03 13:08] abusi commented on #457
Yep, i'm quite in a agreement with you, we need to be able to do it concurrently when it's necessary.
I'm quite fond of the idea to do a `@resolver("Type.field", gather=True)`. I think it is quite self-explanatory.
@Maximilien-R what do you think of this idea ?

[2020-11-03 23:00] garyd203 commented on #457
That sounds like a reasonable approach.

Would you make `gather` be off by default (as it is at the moment) or on by default? If it is on by default for list fields, then that would be consistent with behaviour for non-list fields. My personal opinion is that I would expect it to be on by default. However, I am not aware of the issues around lists being gathered by default, so maybe this is not th

[2020-11-04 08:17] Maximilien-R commented on #457
Hi @abusi @garyd203,

Adding a new argument to the `@Resolver` & `@Subscription` decorator could probably do the job. Maybe we should think of a clearer name than just `gather`. A name that target a more the fact it will only impact the output "children" coercion (which could be for both object and list, this way we could control if list are coerced synchronously but also the object fields).

Also

[2020-11-04 09:33] abusi commented on #457
@Maximilien-R @garyd203 I also think it should default to False.
Should we summary this with:

When you decorate a method which is not a resolver of a list/object, the `gather` parameter will have to effect.
When you know the decorated list/object resolver will a list of thing that subresolution does perform any I/O, you specificaly set `gather` to True.

Also @Maximilien-R I open to naming sugges

[2020-11-04 12:25] garyd203 commented on #457
Naming suggestion instead of `gather`: `sequentially`/`sequential` or `concurrently`/`concurrent` (ie. describe how the resolver for this collection-type field does sub-resolution on the items in the field).

[2020-11-09 21:27] garyd203 commented on #457
Thanks for the discussion @Maximilien-R and @abusi, it sounds like we have a good idea how to implement this feature. What's the way forward for doing the implementation work? Is it something one of you would want to do? Otherwise I expect I will have some time in the next month or 2, depending on my other commitments .

[2020-11-09 21:39] Maximilien-R commented on #457
I'll take a look at it wednesday, at least to check if its easily feasable or will need some important refactoring.

However, it seems that @garyd203 and myself was favorable to set the `gather` by default to `True` but @abusi seems to say that he would prefer to set it to `False`.

If we resume the things to do:
* add a parameter to the `@Resolver` & `@Subscription` decorator to determine whether

[2020-11-10 09:18] abusi commented on #457
@Maximilien-R Hum, I not really hard set on the default to `True`, if you think it is better to default to `False`, so be it. In the end, it's okay for me. The important thing is that it is explain in the documentation.

[2020-11-11 06:09] garyd203 commented on #457
This sounds good to me. Let us know how your investigation goes.

I was wondering whether we want to implement both of these features now, or just one? AFAICT the first feature would solve all use cases. However, it may sometimes be inconvenient to users to update all relevant resolvers, and additionally our differing opinions on default behaviour suggest that it would be very useful to have the g

[2020-12-07 07:22] #457 closed

[2020-12-08 00:07] garyd203 commented on #457
Thanks @abusi  and @Maximilien-R

How does the release process work? When should I expect this to be in a release? (not rushing you, just looking to set my expectations)

[2020-12-08 07:35] Maximilien-R commented on #457
We have to update the documentation and the changelogs but I guess we could release a new version before the end of the week.

What do you think @abusi?

[2020-12-08 08:28] abusi commented on #457
Yeah totaly, @Maximilien-R will you have time to edit the doc/changelog ? If not I may be able to do it.

[2020-12-08 10:21] Maximilien-R commented on #457
Hm... I'll try to do it this evening.

[2020-12-08 18:37] Maximilien-R commented on #457
@garyd203, version `1.3.0` is out 👍

[2020-12-08 21:46] garyd203 commented on #457
Thank you @Maximilien-R :-)

[2021-01-15 13:29] ca-simone-chiorazzo commented on #299
@abusi Do you have an ETA for the V2 version containing this feature? We are evaluating it and we would use something of maintained because used in production. Unfortunately, graphene seems dead.

[2021-01-15 13:50] abusi commented on #299
@ca-simone-chiorazzo Sadly, V2 will only contains tools that would help use make this, V2 should happen in 2021, but I can't get you an ETA as I'm not focused on it RN.
Tartiflette is used in production by at least 2 web companies that I know of (Dailymotion being one) without any issues for more than 2 years now, but they do not need federation.

If you really need it, and are interested in tarti

[2021-01-15 13:54] ca-simone-chiorazzo commented on #299
@abusi Thank you for the clarification!

[2021-01-27 15:44] #453 closed

[2021-02-26 10:09] Lilja opened #476 "forcefully unregister all resolvers for debug purposes"
## new feature: forcefully unregister all resolvers for debug purposes

I'm using sanic as the HTTP server for my app. I'm passing the `debug` parameter set to true to the `run()` method which reloads the application and restarts the server when it detects changes.

My graphql-related parts. Bear in mind I'm a beginner to graphql!

[code]

Saving this and letting sanic re-load the files results in

[2021-02-26 11:00] abusi commented on #476
Hi @Lilja,

In tartflette schema and resolver only need to be associated once, then for the while life of the schema object, it's the same resolver that is called.

I don't quite understand why you'll would want to do this :).

In your example, in the query, what is body ? a new SDL or a graphql request ?

[2021-02-26 11:13] Lilja commented on #476
Hi @abusi!

That is completely reasonable from a production standpoint, the problem is that for debug/developing. Hot reloading is a great feature that would allow me stop not having to `make serve`/`python app.py` and then re-start the server manually when a file is edited.

To work around this issue, I need to switch from my editor and go to my terminal, hit `Ctrl-C` and restart my `poetry run p

[2021-02-26 11:32] abusi commented on #476
Thanks for you example.
Sadly, for tartiflette to work, schema need to be "baked", which means analyzed and transform into a data structure that needs to constructed. If we let resolver be overriden, each time you'll associate a method with a field via the @resolver we would have to reconstruct the whole execution structure (it's a big partial() graph of some sort to sum it up badly).

I'll recomm

[2021-02-26 12:07] Lilja commented on #476
Thanks for the reply. I interpret from you that it's not a quickwin, easy to add feature. I'll close the issue then.

As for the `watchmedo`/hot-reloading part. I tried watchmedo, which didn't work great with sanic. I got an error that would indicate that the app tries to re-bind the address `0.0.0.0` and port `8000` when it was already bound. I then saw that `sanic`'s `app.run()` has the `debug`

[2021-02-26 12:07] #476 closed

[2021-04-08 09:30] Lilja opened #483 "OSError: cannot load library '/var/task/tartiflette/language/parsers/libgraphqlparser/cffi/libgraphqlparser.dylib': /var/task/tartiflette/language/parsers/libgraphqlparser/cffi/libgraphqlparser.dylib: cannot open shared object file: No such file or directory. Additionally, ctypes.util.find_library() did not manage to locate a library called"
I'm trying to load tartiflette in an aws lambda. This is what is happening.

`tartiflette = "^1.3.1"`
`python 3.8`

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-04-08 12:33] abusi commented on #483
Hi,
Seems that tartiflette wasn't installed using `pip install tartiflette` (make sure to have the dependencies installed, cmake, bison>=3, flex)).
It's the setup.py file that compile the lib according to the target system.

I do not know how AWS Lambda works, this init step maybe missing.

[2021-04-08 15:10] Lilja commented on #483
Hmm. Interesting.

I use [serverless](https://github.com/serverless/serverless) to package the application. If I download the zip that serverless generates:

Some source code
![image](https://user-images.githubusercontent.com/6134511/114050942-f9e04500-988c-11eb-97dc-fcf558ef788e.png)
Tartiflette:
![image](https://user-images.githubusercontent.com/6134511/114051020-0c5a7e80-988d-11eb-9bd2-a0495eb4

[2021-04-08 15:17] abusi commented on #483
thanks @Lilja
A `dynlib` file is a `so` file but for macos, the dynlib file is searched for only if the so one is not found.
The .so file should also be in the /var/task/tartiflette/language/parsers/libgraphqlparser/cffi/ folder, which is where the python are installed as I can see in the error.

Maybe we could provide a way to specify where the libgraphqlparser.so file is instead of only looking

[2021-04-08 16:06] Lilja commented on #483
I added some code to be run before I import tartiflette:
[code]

![image](https://user-images.githubusercontent.com/6134511/114059528-be497900-9894-11eb-9ec9-e534c1288f49.png)

Yeah, it looks like it's not placed as expected? That's strange.

[2021-04-08 16:09] Lilja commented on #483
Would you accept a PR that adds a `LIBGRAPHQL_LOCATION` environmental variable to lookup?

[2021-04-08 16:10] abusi commented on #483
@Lilja I'll gladly accept it. I was going to ask you if you wanted to do one :D

[2021-04-09 08:50] #483 closed

[2021-04-09 14:31] Lilja commented on #483
Hmm. I'm still having issues with this. I tried applying the environmental variable we introduced yesterday. It seems like my prognosis of the file being in `/var/task/` was wrong - `os.path.abspath()` just prints out the current folder. More debugging leads the fact that is' actually placed where tartiflette actually think it should be?

Here are some logs from cloudwatch:
1st line: printing out

[2021-04-09 15:11] Lilja commented on #483
Added this:
[code]

![image](https://user-images.githubusercontent.com/6134511/114201234-42176a00-9956-11eb-94b5-be4fbf30b9ae.png)
(/lib64/libstdc++.so.6: version `GLIBCXX_3.4.26' not found)

Hmm. I wonder how to solve it. I have some googling to do.

[2021-04-09 15:25] abusi commented on #483
Ho, yes, the except OSError hide the fact that the libgraphqlparser.so file isn't loading due to a missing dependecy
This is because the .so file wasn't compiled for the target it is ran on.
IE. the systeme were you're trying to run the tartiflette lib is not the same as the one you made the "serverless" package for.

on the system you've installed ttftt (where you've done the pip install tartifle

[2021-04-09 15:26] abusi commented on #483
Maybe you can "compile" the libgraphqlparser library for the AWS lambda system, ship it with `serverless` and use the ENV var to ask tartiflette to load it.

[2021-04-09 18:22] Lilja commented on #483
Amazing, thanks for your help. I changed our setup and stopped basing our build image in codebuild from `ubuntu:20.04` to `lambci/lambda:build-python3.8`.

If you are running into this issue in the future, this is what we are building the build image with.

[code]

[2021-04-12 15:38] Lilja commented on #476
Just wanted to add some more context to this issue. I deployed the function to a lambda and because of AWS lambda's feature of keeping lambdas hot and re-running the code instead of having a cold start the code will trigger an `ImproperlyConfigured` error.

This means that if it runs the `Resolve` decorator, the code will run into an `ImproperlyConfigured` error.

Here is an invoke of the lambda,

[2021-04-12 16:18] abusi commented on #476
Yeah :'(, not really cool. I really don't know how AWS Lambda works and how Tartiflette could evolve in order to support it.
Feel free to do a PR with what you think could be a solve for this and I'll gladly look at it.

[2021-05-11 19:09] joeblackwaslike opened #497 "tartiflette.io slack invite link broken"
Apologies ahead of time, as I wasn't sure the best way to reach out.

The slack invite link on tartiflette.io isn't currently working.  Whenever I enter my email `joe@magic.link` and click "get my invite", it says `Channel not found "general"`.  I'd really love to join the slack as we're evaluating using tartiflette for graphql in our product, but sadly was unable to 😅

[2021-08-03 04:57] v-do opened #519 "1.3.3 wheels on pypi are broken"
The 1.3.3 wheels on pypi were uploaded/overwritten on Aug 2 and appears to be built with 1.4.0: https://pypi.org/project/tartiflette/1.3.3/#files.

* **Tartiflette version:** 1.3.3
* **Python version:** 3.8
* **Executed in docker:** No
* **Dockerfile sample:**
* **GraphQL Schema & Query:**
* **Is it a regression from a previous versions?**
* **Stack trace**

Diff of the file hashes between:
- `tar

[2021-08-03 07:41] abusi commented on #519
@v-do thanks for this report, yeah, we've made a mistake when merging the pipeline rework on master, it ran once with the old tag. We're are curently trying to remove the files from pypi.
In the mean time you can switch to 1.4.0 without to much hassle, only one thing change for the lib users, you'll have to rename the "concurrently" parameter of your resolver to "list_concurrently" or "parent_conc

[2021-08-03 08:21] abusi commented on #519
@v-do 1.3.3 wheels are dropped. It should be okay now.

[2021-08-03 08:21] #519 closed

[2021-08-03 08:25] abusi commented on #445
Tartiflette 1.4.0 comes with wheels :) this should not be a problem anymore.

[2021-08-03 08:25] #445 closed

[2021-08-03 08:26] abusi commented on #417
tartiflette 1.4.0 comes with wheels :) this is fixed now :D

[2021-08-03 08:26] #417 closed

[2021-08-03 08:26] abusi commented on #320
Tartiflette 1.4.0 comes with wheels ! :tada:

[2021-08-03 08:26] #320 closed

[2021-08-03 08:28] abusi commented on #452
I think we can consider this closed :D

[2021-08-03 08:28] #452 closed

[2021-08-03 08:29] #379 closed

[2021-08-03 23:23] v-do commented on #519
Thanks @abusi!

[2021-09-16 12:33] erdnaxeli commented on #325
This ticket can be closed, Tartflette is in the python section.

[2021-09-16 12:39] abusi commented on #325
@erdnaxeli Thanks, closing it.

[2021-09-16 12:39] #325 closed

[2021-11-11 04:29] gc-ss commented on #299
Excited to have federation support!

[2021-11-15 08:42] abusi commented on #299
@gc-ss Sadly, the development speed of tartiflette is not moving fast. Appolo federation work hasn't started :D, sorry to disapoint, I don't really know if we're gonna do it :/

[2021-11-15 08:43] gc-ss commented on #299
I really appreciate providing this feedback!

[2021-11-15 08:55] abusi commented on #299
@gc-ss I'm a little bit disconnected from the GQL world, I know we want to implem GQL-2021 (since we already have some of the feature, we don't miss a lot), but is `appolo` still a big thing in the GQL community or does the hype has gone down ?

[2021-11-15 09:17] gc-ss commented on #299
I won't say I am by any means connected to the GQL world either but I am looking for a framework that lets me stitch together various independent services (subgraphs) while exposing them through one API Gateway (supergraph)

Whether this is done using apollo's federation solution or something else, is secondary to having any support for it at all.

For example, taking a stab at https://github.com/

[2021-11-15 09:24] abusi commented on #299
Hum, tartiflette doesn't support schema stitching, in the sense that tartfilette does need the complete schema to work. But on a complete schema, a resolver can query a remote service without any problem.

[2021-11-19 13:29] ebenezum opened #546 "cmake issue while installing on win10"
Hi!

I have and issue installing tartiflette on my Win10 machine - breaks around cmake version warning:

- Tartiflette version: 1.4
- Python version: 3.7.4
- Executed in docker: Works in docker but in docker linux is installed.

[2021-11-19 14:11] abusi commented on #546
Hi @ebenezum thanks for this issue, today only ubuntu and macos are currently supported. Any PR around making win supported is gladly welcome.

[2021-12-02 17:54] singingwolfboy opened #549 "Setup/teardown is failing when doing automated tests"
This is a bug report about doing setup/teardown for running automated tests with Tartiflette (and tartiflette-aiohttp). It seems that the first test succeeds, but subsequent tests fail. I've created a repository with a minimal reproducible test case, which is here: https://github.com/singingwolfboy/tartiflette-test-bug

* [x] **Explain with a simple sentence the expected behavior** (above)
* [x] *

[2022-04-09 00:43] jgillich commented on #483
I'm getting the same error when using `pipenv`

[code]

But the lib exists:
[code]

I am building on the same machine though so I'm not sure why it can't load it. Any ideas?

[2022-06-12 01:30] tigerinus opened #575 "Subscription result always `null` - what's the right format to yield?"
* [x] **Explain with a simple sentence the expected behavior**

Followed the doc, created a simple project that yields new data upon subscription. However at subscriber side (in GraphiQL) data is always

[code]

See my project at https://github.com/tigerinus/py-tartiflette-graphql-demo

Question: What's missing that causes this?

* [x] **Tartiflette version:**

`1.4.1`

* [x] **Python version:**

[2022-06-13 10:04] arugifa opened #577 "Error coercers should not wrap custom exceptions inside Tartiflette errors"
I am trying to use error coercers, in order to raise custom exceptions in my resolvers, and provide different error handling based on exception types.

For that, I followed the [official documentation](https://tartiflette.io/docs/api/error-handling), and created a small Tartiflette app to play with:

[code]

However, it doesn't work as expected: custom errors raised inside a resolver keep being wr

[2022-06-16 04:06] petertriho commented on #575
Try
[code]

[2022-06-16 13:45] abusi commented on #577
You should be able to access the original Exception using the `original_error` attribute to access your CustomException. We may need to update the documentation on that.

[2022-06-16 16:44] arugifa commented on #577
@abusi Indeed: I can access to the original exception via the `original_error` attribute.

Thanks a lot 🙌

[2022-06-16 16:44] #577 closed, assigned to nobody